[2021-02-23 17:04] OR13 opened #20 "Selective Disclosure ZKPs for Supply Chain"
We added support for https://github.com/w3c-ccg/ldp-bbs2020

to the vc-http-api here: https://vc.transmute.world/api/docs

We should come up with some exemplar credentials that would be good to provide examples of using this proof suite.

An almost complete working PoC here: http://didme.me/

[2021-05-11 19:51] wyc opened #1 "Add necessary files as per CCG guidelines"
Please see https://w3c-ccg.github.io/create_work_item.html for details.

[2021-05-18 17:32] OR13 opened #2 "Define Universal Wallet objects for presentation submissions in the universal wallet interop spec"
This proposal was made originally to link the VC Data Model and Universal Wallet and VC HTTP APIs, together in a way that would support interoperability across HTTP based wallets:

https://github.com/OR13/simple-presentations

We should discuss the associated assumed JSON models related to "handling presentations", including preserving of metadata etc...

Since this work is related to a number of

[2021-05-18 17:33] OR13 opened #3 "Discuss internal holder vs external holder APIs"
should getting my "wallet contents" be in scope for internal holder apis.

Do we need to define these endpoints here or in the vc-http-api?

[2021-05-20 14:30] OR13 commented on #2
An alternative to preserving the "challenge" is "issuing a challenge token from the verifier"... that can then be verified instead of looked up...

this approach is taken in https://github.com/decentralized-identity/waci-presentation-exchange

[2021-05-20 16:33] OR13 opened #8 "PROPOSAL: mirror the vc http api structure"
I suggest we mirror or directly link to the vc http api now that is has separate spec, and that we clearly separate endpoints not defined in the vc http api to avoid confusion.

[2021-05-20 16:34] mprorock commented on #8
fully agree on this.  Do you want me to write a script to keep it in sync, or embed directly?

[2021-05-20 16:42] OR13 commented on #8
I think we can direct embed, CORs will probably allow it, lets start with that.

[2021-05-20 16:45] mprorock commented on #8
works for me - we will give it a roll and see where it lands

[2021-05-20 18:13] OR13 commented on #8
Some work on this is already done, currently semi blocked by the vc http api holder api structure, defined here:

https://github.com/w3c-ccg/vc-http-api/issues/187

Ideally we would link directly to 2 sections 1 for internal and 1 for external.

[2021-05-20 18:32] OR13 opened #11 "PROPOSAL: Define Client Credentials for APIs"
HTTP API integrations between trusted parties are a solved problem and do not require a new spec to provide support for the authorization we need.

- https://auth0.com/machine-to-machine
- https://developer.okta.com/docs/guides/implement-client-creds/overview/

These "Client Credentials" solutions are appropriate starting point for cross trust domain VC HTTP API operations.

This ticket seeks to g

[2021-05-20 18:41] mprorock commented on #11
I like this flow - OAuth works well in this case and the way you are lining out the `/organizations/...` path sets things up well for the multi-tenant situations we are seeing in the real world

[2021-05-20 18:46] OR13 commented on #11
thanks, I think we already have evidence that some vc http api endpoints will be isolated and authenticated on a per tenant basis, whether thats via a subdomain or a path.

[2021-05-20 19:08] Therecanbeonlyone1969 commented on #11
100% agree with this approach!

We could advocate that people list their endpoints for the VC HTTP API and the authorization in the DID docs of the organizations did doc and put that into the well-known path for discoverability. then the only thing that remains is the identity set up of A and B in each other's apps. But that can follow the already known and used methods that enterprises love and c

[2021-05-24 18:20] OR13 commented on #1
I believe this has been done, closing.

[2021-05-24 18:20] #1 closed

[2021-05-25 17:54] mprorock commented on #3
Will likely be covered by vc-http-api is my sense and that work should be covered there to prevent duplicate efforts - my sense is that this spec should focus on cross trust boundary interop items that may be raised by additions to the vc-http-api

good call out from @OR13 on the weekly call - the api spec likely is covered best by the vc-http-api - the testing and validation of interop is covered

[2021-05-25 17:58] mprorock commented on #8
closing per weekly call

[2021-05-25 17:58] #8 closed

[2021-05-25 17:58] mprorock commented on #11
nb: closely related to #3

[2021-05-25 18:04] mprorock commented on #11
great note from @TallTed on weekly call that auth should likely apply to all APIs in this spec

[2021-05-25 18:09] mprorock opened #12 "PROPOSAL: Add Encryption in Transport Guidelines"
Need to add guidelines for which encryption methods are suggested for use of communications over the network, e.g. TLS 1.3, along with suggested cipher suites

[2021-05-25 18:09] mprorock opened #13 "PROPOSAL: Add encryption at rest guidelines"
Need to add a list of required or suggested encryption methods for storing information at rest in systems conforming to the spec, e.g. AESxxx

[2021-06-08 17:28] OR13 opened #16 "Postman interoperability tests and report automation"
@mprorock Our team wants to add client credentials for a CCG test report application to this repo, and generate a conformance report using postman.

Can we set this up in CI with no authorization first, and then figure out how to pull client id and client secret from github secrets in CI second?

- [ ] Wire CI tests for postman without authorization
- [ ] Add CLIENT_ID and CLIENT_SECRET to GitHub

[2021-06-08 17:48] OR13 commented on #2
Feels like we have answered this question, by saying: "anyone can present anything"

... for now.

Noting that this is different than the authorization strategy for the channel... this is:

"Can this holder present these credentials"... or  "is this holder presenting credentials that I expect them too"

[2021-06-08 17:49] OR13 commented on #2
Leave this open until we can untangle the "VP" authorization vs "HTTP" authorization issues.

[2021-06-08 17:52] OR13 commented on #3
We're in a holding pattern waiting for the vc-http-api to split these holder apis up.

[2021-06-08 17:53] OR13 commented on #12
@mprorock can you add a description to this issue, and make it actionable.

[2021-06-08 17:54] OR13 commented on #13
@mprorock Please update this description and make it actionable.

[2021-06-08 17:55] OR13 commented on #13
Feels like this should be informative recommendation for storage.

[2021-06-08 17:56] OR13 opened #17 "PROPOSAL: Define support for DIDComm / WACI-PEx"
WACI-PEx describes an alternate flow for exchanging verifiable presentations:

https://github.com/decentralized-identity/waci-presentation-exchange

Unlike the vc-http-api, it is built on top of message level encryption for DIDs, according to a spec called https://github.com/decentralized-identity/didcomm-messaging

The advantage of WACI-PEx is that messages can flow other transports other than HT

[2021-06-08 17:58] Therecanbeonlyone1969 commented on #17
we should put this into a implementation guide @OR13

[2021-06-08 18:00] OR13 commented on #11
partially addressed in https://github.com/w3c-ccg/traceability-interop/pulls

[2021-06-14 13:15] OR13 opened #19 "Add PR Preview for ReSpec"
Is it possible to use on CCG repos, so we can have PR previews.

See https://github.com/w3c-ccg/traceability-interop/pull/15#discussion_r650267057

[2021-06-14 14:33] TallTed commented on #19
As I said in #15, I think @vsnt @wyc @kimdhamilton should be able to help with getting the necessary bits flipped, though I don't think they will work on existing PRs; I believe the previews will only get generated for PRs initiated after preview generation is turned on.

[2021-06-14 14:57] OR13 commented on #19
related: https://github.com/w3c/did-spec-registries/blob/main/ECHIDNA

https://github.com/w3c/did-spec-registries/blob/main/.travis.yml

[2021-06-16 13:26] OR13 commented on #19
related: https://github.com/w3c/did-spec-registries/pull/314/files

[2021-06-21 20:49] TallTed commented on #3
As we've discussed on the API calls, all APIs should be designed as external.

(Why are APIs being discussed in the "interop" space, which I would have thought was mostly about data generation, transfer, and/or consumption?  Or, given that APIs are how "interop" happens, why are APIs being focused on _outside_ of the "interop" space?  It seems this split may have been made prematurely.)

Entities

[2021-06-22 17:49] OR13 commented on #16
@mprorock please leave a comment for the work to be done here.

[2021-06-22 17:59] OR13 commented on #2
@OR13 to retitle the issue and provide concrete examples of what we mean.

[2021-06-22 18:02] nissimsan commented on #2
I can make an example for this to make it more tangible

[2021-06-22 18:03] TallTed commented on #2
I don't grok the question.  The other repos don't help me much.  Maybe the relevant chunks of those other pages could be brought inline to the question, and some meat added to the question itself?

[2021-06-22 18:04] OR13 commented on #2
@nissimsan

[2021-06-22 18:06] mprorock commented on #12
@mprorock to add content

[2021-06-22 18:06] OR13 commented on #12
@mprorock agreed to add content on the call today.

[2021-06-22 18:06] TallTed commented on #12
Better titling on things like this can be helpful -- e.g.,

* PROPOSAL: Add "Encryption in Transport" Guidelines
* PROPOSAL: Add Guidelines for "Encryption in Transport"

[2021-06-22 18:06] OR13 commented on #13
@mprorock to add a comment.

[2021-06-22 18:07] nissimsan commented on #16
This is quite focused on the authentication aspect of the spec. But as we discussed on the call today, these test scripts should also cover the data exchange aspects of the spec (the directional, cross-security domain elements), and those latter parts should also be included in the issue's description.

[2021-06-22 18:28] OR13 commented on #11
On the call today, we discussed 2 options regarding accesss_token and scope.

Consensus was too not put scopes into the flow, until the API is more mature/

[2021-06-22 18:41] TallTed commented on #11
I talked about DBMS analogies on the call; the basic web architecture also fits.

DBMS "native" API carries ODBC/JDBC/dotNET/OLE DB/etc. carries app data and/or logic of varying depths which may require varying authentication *and* authorization, typically to the CATALOG or SCHEMA or TABLE or ROW or even CELL.

TCP/IP carries TLS carries HTTP (making it HTTPS) carries app data and/or logic of vary

[2021-06-23 18:57] mprorock commented on #16
We have added initial tests here a little while ago: [Trace Vocab](https://github.com/w3c-ccg/traceability-vocab/tree/main/packages/traceability-schemas/src/data/examples/tests)

As mentioned on the call we will be extending these out quite a bit over the next 30-90 days and migrating them to a more dynamic config that also covers broader items for interop in this repo

[2021-07-06 17:53] OR13 commented on #17
There is progress being made, but v0.1 release has still not shipped.

[2021-07-06 17:54] mprorock commented on #17
discussed on call and will revist one v0.1 is in place

[2021-07-06 17:58] OR13 commented on #20
@mprorock can you add a flow chart / example covering multiple parties.

[2021-07-06 17:58] OR13 commented on #20
2 actions remain on this issue:

- example flow (real world use case)
- update vc-http-api tests to cover `deriveCredential`

[2021-07-06 18:04] OR13 commented on #20
Proposal: we should make `deriveCredential` a MUST for trace-interop

[2021-07-06 19:21] TallTed commented on #20
This was the nearest issue to the discussion in IRC, but I'm not sure it's actually what we were talking about, where I said `mock PROPOSAL: trace-interop implementations MUST negotiate encryption mechanisms by requesting ____ and replying ____ `

Candidate response header, available in HTTP/1.x and HTTP/2; will presumably persist to HTTP/3 --

`Pragma: no-cache`
Implementation-specific fields tha

[2021-07-06 19:52] TallTed commented on #20
Issuing `HEAD` against specific URIs can get returned `Link:` headers which have complex values, such as --

`Link: <{ URI of encryption endpoint }>; rel="{ plain-literal as registered with IANA (registration recommended but not absolutely required), or URI as defined by this spec; e.g., "BBS+" or "https://github.com/w3c-ccg/ldp-bbs2020" }"; anchor="#if_needed"`

The `rel` value may be open-ended,

[2021-07-13 20:52] OR13 opened #21 "RESOLVED: One of the authorization protocols that will be defined for use in the VC-HTTP-API MUST be OAuth 2 Client Credentials."
RESOLVED: One of the authorization protocols that will be defined for use in the VC-HTTP-API MUST be OAuth 2 Client Credentials.

^ from the call, we should note this is a normative requirement.

[2021-07-14 03:05] TallTed commented on #21
The title is misleading, suggesting that OAuth 2 Client Credentials will be the *only* authz protocol.  The opening comment shows what we actually resolved, and should be accurately reflected in the title of the issue.

[2021-07-20 17:42] mkhraisha commented on #19
I believe both of those links are broken.

[2021-07-20 17:43] OR13 commented on #19
discussed on the call, let me know if I can help set this up @mprorock

[2021-07-20 17:54] OR13 commented on #3
I have proposal in the works for the vc-http-api that should help with this, this issue is blocked by taking that action, and making these holder APIs clearer.

[2021-07-20 17:57] OR13 commented on #11
related:

- https://swagger.io/specification/
- https://swagger.io/docs/specification/authentication/

[2021-07-20 18:03] OR13 commented on #11
implemented in spec, pending close once new issue addressing the links above is raised.

[2021-07-20 18:04] mprorock commented on #12
in progress, have not yet opened pr

[2021-07-20 18:04] mprorock commented on #13
in progress, have not yet opened pr

[2021-07-20 18:07] mprorock commented on #16
will extend once we add spec on Auth

[2021-07-20 18:19] OR13 commented on #20
On the call today, we discussed the need to support discovery of both "issuer" ids and "credential suites".

We discussed the proposal to use the Link header, and `.well-known` resources.

[2021-07-20 18:21] OR13 commented on #20
We agreed, to open an issue on the vc-http-api to tackle these issues.

[2021-07-20 18:24] mprorock commented on #20
big fan of http `accept` headers for http calls, as well as use of .well-known for capabilities discovery

[2021-07-20 18:26] OR13 commented on #21
agreed to keep this open, until we can point to it in their spec.

[2021-07-20 18:28] brianorwhatever commented on #20
We could also include this within a did:web document on the issuer `.well-known/did.json` endpoint. For example this did could include a service block that contains the endpoint and what crypto suites it uses and issuer ids managed at that endpoint

[2021-07-20 18:48] brianorwhatever opened #22 "Abstract and Introduction contradict"
The abstract talks about this being a vocab and the introduction talks about this being a platform. The abstract can probably be written at a later date and we can track that here

[2021-07-20 18:51] OR13 commented on #11
Opened, here: https://github.com/w3c-ccg/vc-http-api/issues/218

[2021-07-20 18:51] #11 closed

[2021-07-20 18:51] OR13 commented on #20
I opened this issue: https://github.com/w3c-ccg/vc-http-api/issues/218

[2021-07-27 14:51] mprorock commented on #19
since ECHIDNDA is up as open sources under MIT License I do not see any issues technically, however please see [FAQ](https://github.com/w3c/echidna/wiki/FAQ#can-i-publish-a-fpwd-with-echidna-a-rec) - Working Drafts appear to be fine based on that note - @w3c-ccg/chairs Any concerns from Wayne or Heather?

[2021-07-27 14:51] vsnt commented on #19
LGTM @mprorock. Sounds like a good plan.

[2021-08-09 13:30] OR13 commented on #17
Status update: https://github.com/w3c-ccg/universal-wallet-interop-spec/issues/99

[2021-08-24 17:39] mkhraisha commented on #2
Discussed on Aug 24 call, @nissimsan  to provide examples

[2021-08-24 17:40] mkhraisha commented on #3
@OR13  would you be able to link to that proposal

[2021-08-24 17:41] mkhraisha commented on #12
@mprorock have you been able to work on this?

[2021-08-24 17:42] mkhraisha commented on #13
@mprorock have you been able to work on this?

[2021-08-24 17:45] mkhraisha commented on #13
This should be a list of suggested methods rather than a list of required methods

[2021-08-24 17:48] mkhraisha commented on #16
@mprorock any updates on this?

[2021-08-24 17:50] mkhraisha commented on #21
We need to clarify if this is based on the VC-HTTP-API resolutions or if this is an internal trace interop resolution

[2021-08-24 17:53] mkhraisha commented on #21
PROPOSAL: One of the authorization protocols that will be defined for use in the trace interop profile for the VC-HTTP-API MUST be OAuth 2 Client Credentials.

[2021-08-24 18:06] mkhraisha commented on #22
* Abstract needs to be rewritten
* Introduction needs to be rewritten
* Terminology needs to be expanded on
* Use Cases and Requirements needs to be revisited first
* Revision OAUTH and client credentials according to agreed upon proposal
* Presentation Exchange should be under use cases if we're keeping it
* Section 5 needs to be cleaned up and reference section 3

[2021-08-24 18:08] nissimsan commented on #22
I can take a stab at this.

[2021-08-24 18:09] mkhraisha opened #23 "Use cases and requirements"
We need a document and process to collect use cases and requirements  for this profile

[2021-08-24 18:11] mkhraisha commented on #20
Discussed on call waiting on vc-http-api group action

[2021-08-24 18:12] mkhraisha commented on #19
@mprorock any updates on this? I believe @OR13 offered to help on this too.

[2021-08-24 18:15] mkhraisha commented on #17
Orie can you maybe walk us through this proposal

[2021-08-31 17:52] mprorock opened #25 "add html tidy or other HTML linting/formatting as part of build process"
need to make sure HTML is clean and properly formatted before PRs go out etc

[2021-08-31 17:53] mprorock commented on #25
nb: we do not yet have a build process on this doc, so will likely need to add in lerna or similar as is done in trace-vocab:
e.g. [package.json](https://github.com/w3c-ccg/traceability-vocab/blob/main/packages/traceability-schemas/package.json)

[2021-10-05 17:46] nissimsan commented on #2
Incorrect interpretation:
How does a holder acting like a verifier store their data structure.
CCG doesn't bother with this, universal wallet does. Meta data should include: who presented, when did I store it.
Seems not relevant for this group.

[2021-10-05 17:47] nissimsan commented on #2
To be closed.

[2021-10-05 17:47] OR13 commented on #2
We can't actually enforce this.

[2021-10-05 17:47] #2 closed

[2021-10-05 17:48] nissimsan commented on #25
@mkhraisha to run with this.

[2021-10-05 17:48] mkhraisha commented on #25
i'll take care of this

[2021-10-05 17:49] TallTed commented on #2
Out of scope, because we can't enforce.  (Might be fodder for a Best Practices doc.)

[2021-10-05 17:53] OR13 commented on #23
subsumed by https://github.com/w3c-ccg/vc-api-use-cases

[2021-10-05 17:53] #23 closed

[2021-10-05 17:54] nissimsan commented on #12
@mprorock , will you action this, pls?

[2021-10-05 17:55] nissimsan commented on #13
@mprorock , will you action this, pls?

[2021-10-05 17:57] OR13 commented on #16
See also https://github.com/w3c-ccg/vc-http-api/issues/234

[2021-10-05 18:02] nissimsan commented on #16
Issue to be kept open until multiple vendors can show interoperability.

[2021-10-05 18:06] mkhraisha commented on #21
Can someone post a link to where this resolution was resolved? if not we can run it in the trace interop call.

[2021-10-05 18:06] nissimsan commented on #21
@OR13, is this RESOLVE or RESOLVED? If the latter, can you provide a link, pls?

[2021-10-05 18:08] nissimsan commented on #22
- [ ] Abstract needs to be rewritten
- [ ] Introduction needs to be rewritten
- [ ] Terminology needs to be expanded on
- [ ] Use Cases and Requirements needs to be revisited first
- [ ] Revision OAUTH and client credentials according to agreed upon proposal
- [ ] Presentation Exchange should be under use cases if we're keeping it
- [ ] Section 5 needs to be cleaned up and reference section 3

[2021-10-05 18:11] nissimsan commented on #22
On Use Cases and Reqs, we need to link to the VC-API.

[2021-10-05 18:11] mkhraisha commented on #22
https://w3c-ccg.github.io/vc-api-use-cases/

[2021-10-05 18:12] nissimsan commented on #22
@mkhraisha  to open separate issues for remaining open points.

[2021-10-05 18:13] nissimsan commented on #20
Keep open, blocked by VC-API

[2021-10-05 18:15] nissimsan commented on #19
@OR13 and @mprorock, would you action, pls?

[2021-10-05 18:17] nissimsan commented on #17
@OR13, we need to have you on the call for this.

[2021-10-05 18:19] mkhraisha opened #27 "Terminology needs to be expanded in the Spec"
The terminology section of the spec needs to be expanded on, as it is currently pretty barren.

[2021-10-05 18:21] mkhraisha commented on #22
@nissimsan i created https://github.com/w3c-ccg/traceability-interop/issues/27 to track terminology, also if you can link to #21 for the OAUTH section.
Presentation exchange and section 5/3 should just be tracked here I believe as they don't appear to need their own issues.

[2021-10-19 16:16] mprorock commented on #16
have a polished version of this that I will PR this week - test suite may be homed outside the repo and pointed to from this project

[2021-10-19 18:24] mkhraisha opened #29 "Section Required on "Ethical, Privacy, Human Rights, and Related Considerations""
We need to add a section in the spec on  "Ethical, Privacy, Human Rights, and Related Considerations":

Probably replacement for the privacy considerations.

[2021-10-28 14:22] mprorock opened #34 "Need ability to get credentials for automated testing"
We will need be able to store some OAuth2 credentials for service providers to be able to retrieve a bearer token to run integration tests using the trace vocab against various VC-API providers complying with this interop profile.

These tests will run using [newman](https://github.com/postmanlabs/newman) from gh actions

@brownoxford can you take a task of documenting the right approach so that s

[2021-11-02 17:56] #12 closed

[2021-11-05 19:49] brownoxford commented on #34
If I understand everything correctly, we are talking about requiring providers to provide an endpoint implementing [RFC 6749 client credentials grant](https://datatracker.ietf.org/doc/html/rfc6749#section-4.4) and to honor access tokens issued by said endpoint. Automated testing will require both the endpoint (not sensitive) and the client credentials (sensitive) for each provider.

I am inclined

[2021-11-08 13:54] mprorock commented on #34
+1 top level `README.md` would be the right place

[2021-11-12 19:13] mprorock opened #36 "Need Section to cover Disaster Recovery"
need a best practices section covering disaster recovery and ransomware mitigation in the "Security Considerations" section

[2021-11-12 19:19] mprorock opened #37 "Need section on software supply chain"
Need to add a section covering best practices for software supply chain vulnerability management in the "Security Considerations" section of the spec

[2021-11-16 18:42] nissimsan commented on #3
@OR13 : mostly closed already. Suggest opening a more focused issue once interop has progressed further.

[2021-11-16 18:43] OR13 commented on #3
I think this issue was overtaken by events, we solved this in most recent PR.

These have been differentiated in the most recent PR: https://github.com/w3c-ccg/traceability-interop/pull/35

[2021-11-16 18:43] #3 closed

[2021-11-16 18:45] OR13 commented on #25
might want to look at husky and commit hooks for this

[2021-11-16 18:47] OR13 commented on #20
There are known issues with BBS+, we should close this issue until its possible to use any LD Proof format that supports derivation.

See https://github.com/w3c-ccg/ldp-bbs2020/issues/62

[2021-11-16 18:47] #20 closed

[2021-11-16 18:55] brianorwhatever commented on #20
This issue is closed because the upstream problem needs to be resolved. We will open a new issue once that has been resolved.

[2021-11-16 18:57] TallTed commented on #20
My concern is "What triggers a new issue creation, upon resolution of the blocker?" which flows to "Who or what is watching for resolution of that blocker?"

[2021-11-16 18:57] OR13 commented on #19
@msporny how hard was it to setup https://github.com/w3c-ccg/vc-api/blob/main/.pr-preview.json ?

[2021-11-16 19:00] OR13 commented on #17
I'm not in favor of adding DIDComm at this time.

I'm not in favor of adding WACI / Presentation Exchange at this time.

I am happy to leave this issue open or close it.

[2021-11-16 19:03] brianorwhatever opened #39 "Selective Disclosure credentials"
Follow on from #20. This interoperability profile should include the ability to selectively disclose attributes of credentials. This is currently blocked because of a bug in the BBS+ LD signature suite. https://github.com/w3c-ccg/ldp-bbs2020/issues/62

We will continue to monitor the situation and include them here once possible.

[2021-11-16 19:04] brianorwhatever commented on #20
@TallTed I definitely see where you're coming from and have opened a new issue. I will continue to monitor this issue

[2021-11-16 19:09] OR13 commented on #17
See also https://github.com/w3c-ccg/vc-api/issues/245

[2021-11-16 19:09] nissimsan commented on #17
There are valid requirements for having vc pushed to your wallet. But this may belong better on vc-api.

[2021-11-16 19:09] OR13 commented on #17
and https://github.com/w3c-ccg/vc-api/issues/186

[2021-11-16 19:14] TallTed commented on #17
I see issues similar to FTP(control,data) distinct connections, where special switches must be flipped in order to have the client initiate both connections, rather than having client initiate control and server initiate data.  This will need strong consideration in the VC API world, along push+pull vs pure_push vs pure_pull vs pull+push

[2021-11-16 19:15] OR13 commented on #27
Example of how to cite terms defined in other specs: https://github.com/decentralized-identity/JWS-Test-Suite/blob/main/data/index.html#L154

[2021-11-16 19:18] nissimsan commented on #22
Auth:
https://w3c-ccg.github.io/traceability-interop/#authorization

[2021-11-16 19:24] OR13 commented on #21
This can be closed as soon as https://github.com/w3c-ccg/traceability-interop/pull/35 is confirmed to be running in secure mode only.

I think we are close, but still security may not yet be required.

[2021-11-16 19:24] #13 closed

[2021-11-16 19:24] OR13 commented on #16
Partially implemented in https://github.com/w3c-ccg/traceability-interop/pull/35

[2021-11-16 19:25] brianorwhatever commented on #39
Can someone with permissions please assign me and add a blocker label?

[2021-11-16 19:26] OR13 commented on #29
Add a link to https://w3ctag.github.io/ethical-web-principles/

[2021-11-16 19:27] mkhraisha commented on #29
@mprorock I believe we discussed you wanted to have some input here

[2021-11-16 19:55] msporny commented on #19
Install instructions here: https://github.com/tobie/pr-preview#install

[2021-11-30 19:15] nissimsan commented on #34
@brownoxford working on proof of context this week.

[2021-11-30 19:21] nissimsan commented on #25
Will this make contributions harder? Filter out supply chain experts which aren't comfortable running LINT scripts?

[2021-11-30 19:26] nissimsan commented on #22
Let's run through this when @mkhraisha 's on the call and make sure everything is covered. Then we can probably close this.

[2021-11-30 19:28] OR13 commented on #21
Better tracked in https://github.com/w3c-ccg/traceability-interop/issues/34

[2021-11-30 19:30] nissimsan commented on #21
Closing, continue tracking on #34

[2021-11-30 19:30] OR13 commented on #34
We can close this when Ci is operating in a secure setup and tests are passing.

[2021-11-30 19:31] #21 closed

[2021-12-07 16:03] brownoxford commented on #34
This initial PR sets the framework for providing the necessary configuration to fetch a client credentials grant token, next steps include:
* Create CI workflow that sets `client_secret` environment variables before running postman tests
* Refactor postman tests to begin using bearer token
* Generate additional postman tests to ensure that endpoints fail if bearer token is missing/invalid

[2021-12-13 16:01] OR13 opened #41 "Better error handling"
When errors occur, there should be helpful messages returned over http.

There should be an error message structure.

The structure should be used when handling 200 responses where the verification failed

There should also be a 400 error message structure, for cases where the client violates the api definition.

There should be test cases for errors, and each variant of an error.

There should be

[2021-12-13 16:04] OR13 commented on #41
We use a structure like this internally:

[code]

Turning checks into readable sentences improves devx, and ui rendering consistency.

[2022-01-11 18:47] nissimsan commented on #36
@mprorock will take some action on this ticket this week'ish

[2022-01-11 18:47] nissimsan commented on #37
@mprorock will take some action on this ticket this week'ish

[2022-01-11 18:51] nissimsan commented on #17
Keeping this ticket around for keeping us updated

[2022-01-11 18:53] OR13 commented on #17
We discussed implementation timeline for WACI / PEx / DIDComm.

There is no timeline for their implementation here.

These related PRs might impact our decisions in the future:

- https://github.com/w3c-ccg/vc-api/pull/254
- https://github.com/w3c-ccg/vp-request-spec/pull/13

[2022-01-11 18:53] nissimsan commented on #27
@mkhraisha to link to trace-vocab, adding missing parts.
(Not for next week though)

[2022-01-11 18:55] mprorock commented on #16
#35 covers reporting in multiple formats for all current tests and rolling forward

[2022-01-11 18:55] #16 closed

[2022-01-11 18:59] OR13 commented on #19
This should be marked as ready for PR and picked up by someone who has time.

[2022-01-11 19:00] nissimsan commented on #39
@brianorwhatever , any updates on this?

[2022-01-11 19:03] OR13 commented on #39
Potential alternatives:

- https://w3c-ccg.github.io/Merkle-Disclosure-2021/
- https://w3c-ccg.github.io/Merkle-Disclosure-2021/jwp/

None of these approaches to SD are great right now.

[2022-01-11 19:04] mprorock commented on #39
happy to add a section to spec on this - will self assign unless @brianorwhatever jumps back in

[2022-01-11 19:04] nissimsan commented on #25
@mkhraisha's PR fixes this. Will be cleaned up this week.

[2022-01-11 19:06] mkhraisha commented on #22
This has been covered in other issues, closing

[2022-01-11 19:06] #22 closed

[2022-01-11 19:09] nissimsan commented on #34
Keeping open until at least one other party beyond mesur have implemented this.
Transmute will make an attempt on this soon.

[2022-01-11 19:12] OR13 commented on #41
We need better error handling, we can't tell why things fail.

See https://github.com/w3c-ccg/vp-request-spec/pull/12

[2022-01-11 19:14] nissimsan commented on #41
This is between the presenting parties: define happy path and sad path interactions. What are the 400 error we expect can occur? What are relevant error messages which will help resovle?

[2022-01-11 19:14] nissimsan commented on #41
I might pick this up next time when I have better bandwidth.

[2022-01-11 19:39] brianorwhatever commented on #39
Great, feel free @mprorock. Was on bbs+ call yesterday and the timeline was not very solid. I don't think they are prioritizing fixing the old suite vs focusing on the new version that will be brought to IETF

[2022-01-14 16:32] mkhraisha opened #44 "CI rule disable"
Disabled a number of CI rules in PR #42  for the tests packages, as discussed on the PR @brownoxford  volunteered to fix those.

[2022-01-18 11:49] nissimsan opened #46 "Admin access for adding oauth secret"
@brownoxford and @OR13, could you (temporarily) grant me admin privileges, so I can try adding the oauth secret.

https://docs.github.com/en/actions/security-guides/encrypted-secrets#creating-encrypted-secrets-for-a-repository

[2022-01-18 13:41] mprorock commented on #29
see PR #47

[2022-01-18 14:29] mprorock commented on #39
addressed in PR #48

[2022-01-18 15:01] mprorock commented on #36
addressed in PR #50

[2022-01-18 16:56] OR13 commented on #19
https://github.com/w3c-ccg/traceability-interop/blob/main/.pr-preview.json

[2022-01-18 17:00] OR13 commented on #19
I installed the "PR Preview App" for both repos.

[2022-01-18 17:28] brownoxford commented on #44
I will be able to work on these issues this week.

[2022-01-18 17:47] brownoxford commented on #46
@nissimsan I don't have the ability to modify privs, @OR13 can you help on this one?

We still need a [maintainer volunteer](https://github.com/w3c-ccg/traceability-interop/tree/main/tests/postman#providing-secrets) to accept gpg encrypted values for oauth secrets.

[2022-01-18 18:50] OR13 opened #52 "Update recovery section"
https://github.com/w3c-ccg/traceability-interop/pull/50/files#r786921321

[2022-01-18 18:53] OR13 commented on #46
I gave access, but we still need to confirm the access and instructions are sufficient to resolve.

[2022-01-18 18:57] #46 closed

[2022-01-21 18:30] mprorock opened #56 "Need to define how and what workflows are"
Need a definition and core structure and description for the notion of workflows in the context of tracing an item or shipment

[2022-01-21 18:31] mprorock opened #57 "Need the ability to correlate related credentials / presentations"
need some well defined correlation id or similar

[2022-01-25 18:44] brownoxford opened #61 "Use hard-coded key instead of dynamic (via SHA2) for client id lookup"
@OR13 brought [up this issue](https://github.com/w3c-ccg/traceability-interop/pull/58#discussion_r791139831) in another ticket, and we discussed possibly adding a key to the `oauth2` section of the service provider JSON instead of dynamically coming up with a key using SHA256 and the client_id value.

[2022-01-25 18:50] OR13 opened #62 "Define Workflow Definition and Workflow Instance"
As they related to vc-api "workflows" with "names" and "id".

[2022-01-25 18:52] OR13 commented on #62
Some things I am familar with:

"Workflow" "Program" -> "Instance" "Process"

each can have a `id` and each can have a`type`

[2022-01-25 18:53] mprorock commented on #62
ref pr #60

[2022-01-26 14:48] OR13 opened #66 "Move to redoc from swagger"
I propose we consolidate the api definitions, follow the OAS 3.0 boilerplate guidelines (split parameters, schemas, responses, resources).

and have the respec just link to the OAS 3 Redoc like we do in trace-vocab.

Happy to do the work if folks are ready for it to be done... here is a preview of what it should look like (minus branding):

https://api.did.actor/docs

(happy to apply W3C CCG brand

[2022-01-26 14:54] mprorock commented on #66
big fan of redoc and this approach - also happy to help

[2022-01-26 16:13] nissimsan opened #67 "Running the new serviceProviders"
@brownoxford, any chance I can ask you to kindly take a look at how the two serviceProviders we merged yesterday are running in the CI - I'm not sure where to see the result of it?

Locally running `node . -n "Transmute DID Actor API" -d key` works, but the report seems a bit off.

Running `node . -n "Transmute" -d key` I get the error below. Any thoughts on what might be causing it? Any pointers

[2022-01-26 17:07] OR13 commented on #67
This error is expected... we don't support did config.

If we were to add it, we would be claiming to BE all of the identifiers for our customers... UNLESS we gave each customer a unique CNAME.

[2022-01-26 19:19] brownoxford opened #68 "Add CI to run postman tests"
We need to add workflow items to run the postman tests on push (secrets are not passed on PR from remote repos). This may require some additional work in getting the suite ready to run in this context. We should also look into how we can publish results of test runs for review (newman produces html artifacts).

[2022-01-26 19:19] brownoxford commented on #67
We have not yet implemented the CI workflow for running these postman tests. I just added #68 to track this.

[2022-01-27 00:10] OR13 commented on #66
Implemented in https://github.com/w3c-ccg/traceability-interop/pull/69

[2022-02-01 03:55] mprorock commented on #68
@brownoxford any updates on this?

[2022-02-01 15:10] brownoxford opened #75 "Postman testing artifacts should be available for review"
The HTML output from postman tests should be available for review.

[2022-02-01 15:11] brownoxford opened #76 "Postman tests should not run on PR from outside repo"
Current test in `ci.yml` uses the following conditional:

[code]

This does not seem to be working though.

[2022-02-01 15:28] brownoxford opened #77 "Change name of transmute client secret to something manageable"
`CLIENT_SECRET_TRANSMUTE` has been suggested

[2022-02-03 16:54] #61 closed

[2022-02-03 16:55] #68 closed

[2022-02-03 18:02] #77 closed

[2022-02-08 15:24] brownoxford commented on #67
Workflow is now running these tests automatically, and logs are visible in the actions section. Issue #75 has been created to track making Postman output available for easier review.

[2022-02-08 15:29] #44 closed

[2022-02-08 15:57] OR13 commented on #75
I think we can possibly just push the built assets to a directory in github pages as a first step.

[2022-02-08 16:43] OR13 opened #85 "Terminology defined incorrectly"
IMO we should not be defining ANY terminology that is not relevant to the HTTP interop profile  in this repo...

We should especially not be defining VP or VC data model items in this repo.

Also the current terminology is incorrectly defined.

![Screen Shot 2022-02-08 at 10 43 18 AM](https://user-images.githubusercontent.com/8295856/153034029-07d93e62-0f2b-420c-849f-6de7ba00639a.png)

[2022-02-08 18:53] brownoxford commented on #75
@OR13 Agreed, that's the direction I'm leaning in. I was planning on seeing whether we can aggregate results into something more easily used, possibly with something like https://github.com/ervirendersingh/newman-reporter-allure. I want to solve for the issue where each postman run generates a wholly separate output file, which would get tedious to digest.

[2022-02-08 19:15] OR13 commented on #17
as discsused, we are all awaiting didcomm v2 imps

[2022-02-08 19:16] OR13 commented on #27
seems a bit of a dupe of the trace-vocab related item.

seems like we need to define security terms related to interop profile.

[2022-02-08 19:17] OR13 commented on #25
we did it.

[2022-02-08 19:17] #25 closed

[2022-02-08 19:20] OR13 commented on #34
We support this now.

[2022-02-08 19:20] #34 closed

[2022-02-08 19:20] OR13 commented on #41
awaiting https://github.com/w3c-ccg/vc-api/pull/258

[2022-02-08 19:21] OR13 commented on #29
This was done.

[2022-02-08 19:21] #29 closed

[2022-02-08 19:22] OR13 commented on #39
There is still nothing to use, but we leave this open until that changes.

[2022-02-08 19:23] OR13 commented on #37
We did this, see PR.

[2022-02-08 19:23] #37 closed

[2022-02-08 19:24] OR13 commented on #36
closing, we have another issue #52 to track.

[2022-02-08 19:24] #36 closed

[2022-02-08 19:28] OR13 commented on #56
Related to https://github.com/w3c-ccg/traceability-interop/issues/85

We should close this once we can link to the vocab defintion for workflows.

[2022-02-08 19:29] OR13 commented on #57
Also related to https://github.com/w3c-ccg/traceability-interop/issues/85

We should close this once we can link to the vocab definition for correlation id.

[2022-02-08 20:40] msporny commented on #19
I think I fixed it. I had to do the following things:

1. Re-enable PR Preview for all CCG repos -- someone changed it to only apply to the traceability repos.
2. Update "./docs/index.html" to "docs/index.html" in the .pr-preview.html file.

Here's a test preview: https://github.com/w3c-ccg/traceability-interop/pull/86

[2022-02-08 21:04] OR13 commented on #19
@msporny you are a life saver.

[2022-02-08 21:04] #19 closed

[2022-02-08 21:59] OR13 opened #87 "Define or forbid human readable `exchange-id`"
consider:

POST /exchanges/credential-refresh
POST /exchanges/definition-oil-import-from-ca
POST /exchanges/definition-steel-import-from-mx

vs

POST /exchanges/urn:uuid:123

is guessable names a security issue?

if we support a single human readable name, does that mean we support all the other ones?

where is the registry for human readable "workflow definition names" maintained.

[2022-02-09 17:27] OR13 opened #88 "What is the response type for resolve Identifier?"
[code]

or

[code]

See: https://api.did.actor/docs#tag--Identifiers

[2022-02-14 18:42] OR13 opened #95 "Authenticated VPs are Redundant when Client Credentials access tokens are present"
Should we need to sign VPs when they are presented over a channel that is authenticated?

Can we improve performance by relying on the channel authentication?

How might this impact the VC-API and exchange APIs?

[2022-02-15 20:58] OR13 opened #96 "Mutual certification of interoperability test conformance"
I have been considering scenario where each vendor might certify other vendors that have demonstrated a capability to pass an interoperability test.

In an ideal world, this might even be wired to github actions so that certification was automatically revoked when the vendor stopped passing the tests.

I believe this can be accomplished via postman and github actions.

[2022-02-16 14:19] OR13 opened #97 "Remove "checks""
they got removed from the vc api

[2022-02-16 14:19] OR13 commented on #97
https://github.com/digitalbazaar/di-ed25519-test-suite/issues/3

[2022-02-16 15:58] OR13 opened #99 "Visualizing Postman Reports"
See https://learning.postman.com/docs/sending-requests/visualizer/

We need to setup SOME visualization of postman reports asap, and iterate on it later.

At a minimum there should be a way to see the results of a report by visiting a web page, and there should be an index of the reports that helps you get to the latest run.

I think its fine for us to drop older reports over time, since a report

[2022-02-17 14:05] brownoxford commented on #97
This has been fixed in #90 for the new postman tests only (legacy tests have not been updated)

[2022-02-17 15:25] OR13 opened #100 "Hosted Postman Collections"
https://www.postman.com/postman/workspace/httpbin/request/15582611-23a19640-0289-494e-ba46-a38f997b7012

^ investigate, can we provide a UI on the collections in this repo?

[2022-02-22 18:30] brownoxford commented on #99
I'm working on a PR that will publish all newman output to a `/newman` subdirectory of the gh pages.

[2022-02-22 19:01] OR13 commented on #62
IMO, this can't be closed until this is cleaned up: https://w3c-ccg.github.io/traceability-interop/#terminology

[2022-02-22 19:02] OR13 commented on #62
good with closing as a dupe.

[2022-02-22 19:02] OR13 commented on #66
we did it

[2022-02-22 19:02] #66 closed, assigned to nobody

[2022-02-22 19:03] OR13 commented on #76
yea, this is tough for cross fork PRs.

[2022-02-22 19:04] OR13 commented on #76
for now, lets grant contributors write access and have them run tests without cross forking.

[2022-02-22 19:06] OR13 commented on #76
closing this issue, ask to be a contributor and we will give you  write access, until further notice.

[2022-02-22 19:06] #76 closed

[2022-02-22 19:07] OR13 commented on #67
I think this is over taken by events, suggest closing.

[2022-02-22 19:07] #67 closed

[2022-02-22 19:10] brownoxford commented on #75
I'm currently working on a PR for this issue that will append newman output as build artifacts and also publish individual output to a subfolder of the gh-pages deployment.

[2022-02-22 19:11] brownoxford commented on #99
Related to #75

[2022-02-22 19:11] mprorock commented on #85
To clarify on this issue:
All core terminology belongs here in the Traceability Vocab [spec](https://github.com/w3c-ccg/traceability-vocab/) and updated in the [repo for that spec](https://w3c-ccg.github.io/traceability-vocab/)

This repo should then in the terminology section reference the Vocab, and then define any new terms that are specific to the interop profile iteself

[2022-02-22 19:11] nissimsan commented on #41
next step: port over VC API error schemas, add postman for testing

[2022-02-22 19:12] OR13 commented on #41
Need to port over the schemas and write postman tests that produce errors for all documented error cases.

[2022-02-22 19:13] OR13 commented on #39
There is still nothing to do here.

[2022-02-22 19:16] mprorock commented on #87
if you have a GET for /exchanges and are authorized i would assume you get a list of supported workflows, names, descriptions based on auth - I am working on a PR for this on VC-API

[2022-02-22 19:17] OR13 commented on #56
close this as a dupe.

[2022-02-22 19:17] mprorock commented on #56
dupe #85

[2022-02-22 19:17] #56 closed

[2022-02-22 19:17] OR13 commented on #57
close this as a dupe

[2022-02-22 19:17] mprorock commented on #57
dupe #85

[2022-02-22 19:17] #57 closed

[2022-02-22 19:19] OR13 commented on #87
Is there a better issue or PR to track this against?

[2022-02-22 19:20] mprorock commented on #87
related most strongly to [this](https://github.com/w3c-ccg/vc-api/issues/259)

[2022-02-22 19:23] OR13 commented on #88
See https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/schemas/DidResolutionResponse.yml

[2022-02-22 19:24] OR13 commented on #88
https://w3c-ccg.github.io/traceability-interop/openapi/#tag--Identifiers

[2022-02-22 19:25] OR13 commented on #88
Lets get a verbal confirmation from code owners that they will implement this endpoint as is in the profile

[2022-02-22 19:26] nissimsan commented on #88
Verbal voting on the call - no objections. Closing

[2022-02-22 19:26] #88 closed

[2022-02-22 19:27] #27 closed

[2022-02-22 19:30] OR13 commented on #95
No reason to do "DID Auth" if you already did "OAuth2.0" standard client auth.

[2022-02-22 19:30] OR13 commented on #95
Just to be clear, VPs are not required to be "signed"... so a VP with no proof is legal per the spec.

[2022-02-23 15:18] brownoxford opened #105 "Can we close branches which have been merged?"
What is the policy for feature and fix branches which have been merged, can those be deleted to clear out clutter? To be clear, I am volunteering to do this cleanup :)

[2022-03-05 17:15] OR13 commented on #105
as soon as a branch is merged it should be closed.

[2022-03-05 17:16] OR13 opened #107 "I broke transmute tests"
https://github.com/w3c-ccg/traceability-interop/runs/5434018049?check_suite_focus=true

Seems like some changes in the recent release broke things, will need to review, and show them passing in CI.

Again.

[2022-03-07 14:27] brownoxford commented on #105
I've closed all outstanding branches that have been merged into `main` already. The following un-merged branches remain, and all of them seem like they can be deleted, but I wanted to discuss with the group first to confirm:

`remotes/origin/correlation-data-model` - Open branch by @nissimsan  for Closed PR #70
`remotes/origin/feat/add-revocation-list-endpoint` - Open branch by @OR13  for Closed P

[2022-03-07 18:25] brownoxford opened #110 "Github workflows contain syntax error"
We have this construct in several of the tests:
```--reporters cli,jsonname: Mill Test Report Certificate Tests```
which results in the following error:
```newman: could not find "jsonname:" reporter```

Everything after `,json` should be removed.

[2022-03-07 18:35] brownoxford opened #112 "Newman test reports must be sanitized"
Creating a ticket as a placeholder to ensure that we sanitize newman reports before publishing them to github pages.

[2022-03-07 18:46] brownoxford commented on #112
Current known issues:
* Bearer token is present in request authorization headers
* Bearer token is exposed in response body from token provider
* Client ID and Secret are exposed in request body to token provider

[2022-03-07 18:57] brownoxford opened #113 "Revocation test contains hard-coded api.did.actor"
The postman test for revocation currently hard-codes the server name `api.did.actor` in the request URL for DID resolution. Instead, it should be using the `API_BASE_URL` environment variable.

[2022-03-07 18:58] mkhraisha commented on #112
Should probably add a reminder here to re-issue new tokens, and Client IDs and Secrets after this is resolved

[2022-03-07 19:20] brownoxford commented on #112
Not a bad idea, but to clarify the JS based testing that lives in the `tests-postman` package is currently doing the correct sanitization, no tokens or secrets are known to have been exposed at this point.

[2022-03-07 19:27] brownoxford opened #115 "Add resolution endpoint to discovery documentation"
The documentation at `docs/discovery.md` should include a section on the `/identifiers` DID resolution endpoint.

[2022-03-08 12:11] nissimsan commented on #105
The PR https://github.com/w3c-ccg/traceability-interop/pull/70 one is now closed.

[2022-03-08 15:15] brownoxford opened #116 "Openapi JSON generation handles refs awkwardly"
We are using `swagger-cli` to generate `docs/openapi/openapi.json` based on the manually maintained `docs/openapi/openapi.yml`. When `swagger-cli` encounters a ref for the first time, it inlines that ref and then rewrites all subsequent references to point to the inline definition (see https://github.com/APIDevTools/swagger-cli/issues/29).

This results in inlined definitions where we don't really

[2022-03-08 15:17] brownoxford opened #117 "Open API JSON generation is not automated"
We are not automating the generation of `docs/openapi/openapi.json`, which can easily result in divergence from the canonical `docs/openapi/openapi.yml` files. The generation of `openapi.json` should be automated by workflow functionality if possible.

[2022-03-08 16:32] brownoxford opened #118 "Openapi DidResolutionResponse should include alsoKnownAs"
The  [Openapi definition](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/schemas/DidResolutionResponse.yml#L3-L4) for the `DidResolutionResponse` element should be updated to reflect the `MUST be present` requirement for `alsoKnownAs` as [outlined in the discovery profile](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/discovery.md?plain=1#L43) in `docs/disc

[2022-03-08 18:44] #110 closed

[2022-03-08 19:05] mprorock commented on #96
+1

[2022-03-08 19:09] OR13 commented on #96
I can take a stab at figuring out how we might do this.

[2022-03-08 19:10] mprorock commented on #96
that would be great - we are a huge fan of this for both technical and marketing reasons

[2022-03-08 19:12] OR13 commented on #97
The new tests assert behavior regarding checks, those assertions and the associated options need to be removed.

[2022-03-08 19:12] OR13 commented on #97
I will do my best to fix this.

[2022-03-08 19:14] brownoxford commented on #100
Publishing the postman tests for people to use would be a great way to lower barrier to entry for new users.

[2022-03-08 19:15] OR13 commented on #75
artifacts need to be sanitized before a report can be generated.

[2022-03-08 19:16] OR13 commented on #99
this work is in progress.

[2022-03-08 19:17] brownoxford commented on #99
My current plan is to continue migrating to the unit-style testing in the docs/tutorials folder, then work on sanitization and report aggregation.

[2022-03-08 19:18] OR13 commented on #85
This issue can be closed when the red squiggles are gone.

[2022-03-08 19:21] OR13 commented on #41
We still need to port over some error examples, ideally covering verify errors such as revocation.

[2022-03-08 19:22] #52 closed

[2022-03-08 19:22] OR13 commented on #52
we did it!

[2022-03-08 19:24] OR13 commented on #87
Seems blocked by VC-API change set negotiations.

[2022-03-08 19:28] OR13 commented on #95
This would seem to help with "throughput" of messages.

[2022-03-08 19:28] OR13 commented on #39
There is still nothing to do here.

[2022-03-08 19:29] OR13 commented on #17
didcomm v2 implementations still not available.

[2022-03-08 19:29] OR13 commented on #107
I think I fixed them

[2022-03-08 19:29] #107 closed

[2022-03-08 19:30] OR13 commented on #113
this is fixed now.

[2022-03-08 21:01] brownoxford opened #120 "DidResolutionResponse should require didDocument"
The [DidResolutionResponse.yml](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/schemas/DidResolutionResponse.yml) file should specify that the `didDocument` property is required. Corresponding tests for did web resolution should be updated based on `didDocumnt` being the only required property.

[2022-03-09 00:18] brownoxford commented on #118
Tests should also be updated to ensure that alsoKnownAs has at least two elements - the first is required to match the API_BASE_URL used in the test, and the second will be used as a did for issuing VCs in test suites.

[2022-03-10 18:06] OR13 commented on #17
https://github.com/hyperledger/aries-agent-test-harness/pull/444

Seems to be available now.

[2022-03-11 15:15] mprorock opened #124 "Need to define scopes or roles"
#### The the interop profile needs to define scopes or roles.

![Screen Shot 2022-03-15 at 9 37 32 AM](https://user-images.githubusercontent.com/8295856/158402184-722e9f26-be40-4c1c-adc9-61ebff9ffcc1.png)

![Screen Shot 2022-03-11 at 10 34 41 AM](https://user-images.githubusercontent.com/8295856/157909210-2b5c9fab-2e96-4000-9971-4b8c2e866853.png)

In this example, you can see that there are basica

[2022-03-11 16:53] OR13 commented on #95
I related security issue: https://github.com/w3c-ccg/traceability-interop/issues/124

[2022-03-11 16:53] OR13 commented on #124
As a side note, if we addressed this first: https://github.com/w3c-ccg/traceability-interop/issues/95

6 network requests would become only 2.

[2022-03-14 08:48] nissimsan commented on #124
Yes. To complete the picture: Each org would have to obtain two access tokens. So those 2 network requests would become 4.

[2022-03-14 11:37] nissimsan commented on #124
@mprorock, to your Option 1 vs 2, I'm pretty sure I completely agree with your argument. Allow me to attempt to say the same with my own words:
Each vendor (mesur, transmute, etc) will obviously allow customers to control various levels of access, distinguishing e.g. between full tenant "admin” vs. limited "presenter". These roles will be platform-dependant, so enforcing policies will be kept inte

[2022-03-15 15:18] brownoxford commented on #97
I got you. Working on this right now.

[2022-03-15 15:59] brownoxford commented on #124
Are we thinking something along these lines? The names I used are kind of arbitrary at this point, I think the more important bit to hammer out first is which scopes are required to use each endpoint.

`did:resolve`
- required for `GET /identifiers/{did}`

`vc:create`
- required for `POST /api/credentials/issue`

`vc:verify`
- required for `POST /api/credentials/verify`, maybe combine with `vc:rea

[2022-03-15 16:18] brownoxford opened #127 "Is the "docs/components" folder still in use?"
While removing references to `checks` in credentials verification results in another PR, I edited `docs/components/VerificationResult.yml` but was not able to find where this file is being used.

[2022-03-15 16:38] mkhraisha opened #129 "did-web-discovery uses fixes api.did.actor as server for discovery"
https://github.com/w3c-ccg/traceability-interop/blob/0d0f4a047157df507da12ba31865388adfd8e9e4/packages/tests-postman/lib/did-web-discovery/postman.json#L60

[2022-03-15 17:38] #120 closed

[2022-03-15 17:43] #97 closed

[2022-03-17 16:52] mkhraisha opened #133 "CI Tests against deprecated packages"
Our Current CI runs  `npm run test:all` which hits the deprecated tests-postman package instead of the postman tests
https://github.com/w3c-ccg/traceability-interop/blob/6dda5b06c49fe346953648a9b6a906dd5e60f78f/.github/workflows/ci.yml#L35

[2022-03-17 16:54] brownoxford commented on #133
Yes, please do not run new tests via CI until we address sanitization issues in output reports.

[2022-03-17 16:58] mkhraisha commented on #133
yup!
The CI auto runs right now, on any push/commit tracking old tests, should probably just remove that portion as it doesn't really do anything

[2022-03-18 14:28] OR13 commented on #17
nearly there... https://github.com/hyperledger/aries-agent-test-harness/pull/449/files#diff-d758e1dd1d5111619dbff3cd50c095452bf9a0610c395909656138641d109e85R1349

[2022-03-22 19:08] #129 closed

[2022-03-28 18:52] brownoxford commented on #124
@nissimsan Trying to wrap my head around this, can you clarify for me? For the purposes of interoperability testing, we could easily define a client app in our auth provider which could request all scopes needed in a single token. I'm trying to understand why we would need two separate tokens (negative testing maybe?).

[2022-03-29 07:26] nissimsan commented on #124
@brownoxford, no big deal, I was just pointing out that an authentication call before presenting is still needed. Each application would need two access tokens: one for "its own" platform (with `vc:create`, `vp:create`, etc) and one for the "presentee" platform (with `vp:exchange`).
So yes, the 6 presentation calls become 2 - but the 2 access token calls become 4.

[2022-03-29 13:45] brownoxford opened #136 "Expected response for credential creation is 200, not 201"
Current tests are expecting a "201 Created" response for the /credentials/issue endpoint (and failing). This endpoint actually returns "200 OK" on success - update tests accordingly.

[2022-03-29 14:09] TallTed commented on #136
What is "this endpoint"?

"201 Created" (as now) makes more sense if only one response code is considered to pass, because this *is* a creation event.

Possibly, this test might be considered successful with either a "200 OK" or "201 Created" response code, but I do not think that "200 OK" should be the only response code that's considered to pass the test.  What's the justification for treating "

[2022-03-29 14:27] brownoxford opened #138 "Remove legacy docs/tutorials/{exchange,revocation} folders"
Remove the legacy `docs/tutorials/exchange` folder once #135 and #137 have been merged.

[2022-03-29 14:36] brownoxford commented on #136
@TallTed This is in reference to the "/credentials/issue" endpoint, which is [currently defined](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/resources/credential-issuer.yml) in the OpenAPI spec as returning a `200 OK` response on success.

This ticket is about making the tests conform to the API specification, but I happen to agree with you that a `201 Created` response

[2022-03-29 14:49] TallTed commented on #136
OK.  I think the error is in the current OpenAPI definition of that endpoint, rather than in the test (which has done its job, by revealing the mismatch between that OpenAPI definition and the test as currently defined).

So, unless someone has reason for it not to, this issue can remain about making a test match an API specification; the direction of this particular mismatch and fix just need to

[2022-03-29 14:51] brownoxford opened #139 "Add OpenAPI documentation to CD"
Currently published [OpenAPI documentation in GH Pages](https://w3c-ccg.github.io/traceability-interop/openapi/) does not look like it is being managed via CD.

[2022-03-29 15:37] brownoxford commented on #139
This is actually managed by the `publish-spec` job which publishes the entire docs folder.

[2022-03-29 15:37] #139 closed

[2022-03-29 16:47] mkhraisha opened #142 "Github Workflows improve environment calling"
There should be a way to define a single matrix of variables that will then be used by multiple workflows.

My github actions fu isn't as great as I want it to be, but the current setup is quite error prone, as we're copying the same "matrix" over multiple times.

[2022-03-29 17:18] brownoxford commented on #138
We should also remove `docs/tutorials/revocation` which was replace in #143.

[2022-03-29 17:24] brownoxford commented on #142
Quick review of the Github docs did not yield a solution, but I agree this would be less error prone if possible.

[2022-03-29 18:18] mkhraisha commented on #142
I think theres a thing you can do it with this: https://docs.github.com/en/actions/using-workflows/reusing-workflows, and calling the workflows from another one

[2022-03-29 18:24] mkhraisha commented on #142
I think something like this would work:

in a `master workflow`:
define matrix of companies
call a reusable workflow with that matrix's data,
[code]

[code]

[2022-03-29 19:15] #116 closed

[2022-03-29 19:15] #117 closed

[2022-03-29 19:30] brownoxford commented on #105
Spoke with @OR13 offline and got the go-ahead to remove the branch for #65

[2022-03-29 21:10] msporny commented on #105
Yep, delete away.

[2022-03-30 21:01] mkhraisha opened #147 "Issue Tutorial options should not include credential status"
The issue credential tutorial is the most basic credential issuance endpoint, and the tutorial should accommodate implementations that do not support revocation, the options object should change to:
[code]

[2022-03-31 13:30] brownoxford commented on #105
All orphan and merged branches have been cleaned up, closing this ticket.

[2022-03-31 13:30] #105 closed

[2022-04-01 10:42] nissimsan commented on #124
@brownoxford et al., looking at some of [Auth0's examples](https://auth0.com/docs/get-started/apis/scopes/api-scopes) and particularly [github](https://github.com/settings/tokens/new), they seem aligned on a naming scopes as first verb, then `:`, then the resource type. For example `transfer:funds` (auth0) and `read:user` (github).

So for lack of a better convention, I suggest we align to that an

[2022-04-02 15:03] OR13 opened #149 "Fix w3id.org redirects to support report generation"
https://github.com/perma-id/w3id.org/pull/2620

Until its merged, this should work https://w3c-ccg.github.io/traceability-interop/reports/

Then https://w3id.org/traceability/interoperability/reports

[2022-04-02 15:07] OR13 opened #150 ""services" should be "service" in all did documents."
see the did core spec.

[2022-04-02 15:39] OR13 commented on #149
Sigh... https://github.com/perma-id/w3id.org/pull/2621

[2022-04-02 15:59] OR13 opened #151 "Automated Report Generation Next Steps"
https://github.com/w3c-ccg/traceability-interop/pull/148 added basic reporting.

We need to do a few things to clean this up>

- [ ] - 1. we need to wire the reporter into CI for matrix of vendors

This means a separate newman report will be generated for each vendor.

This keeps the collections focused on doing 1 thing well, but means more reports to review.

This also enables vendors to link to

[2022-04-02 18:45] brownoxford commented on #151
Quick thought regarding item number three - maybe we should add a matrix element for provider name? That could be used somehow during report generation and would also help when viewing actions in github as it looks like the first matrix element is used to identify things there.

[2022-04-05 08:37] nissimsan opened #153 "Workflow triggers"
@brownoxford, I'm aligning to your
[code]
But I think we need to talk about well-suited triggering mechanisms, don't we?

[2022-04-05 11:25] brownoxford commented on #153
@nissimsan Yes, for sure. That's a bit of a holdover to ensure we don't accidentally leak secrets into published reports. We are moving in the right direction with #148.

I think that `push` and `workflow_dispatch` are appropriate, but `pull_request` could have some problems because GitHub will not pass secrets to runners in external repos, so many of those might fail. I tried adding a check at on

[2022-04-05 15:31] mkhraisha opened #154 "Revocation Tutorial should include revocation list 2020 context in body"
Currently revocation context is not included as part of the credential body it should instead look like this:
[code]

[2022-04-05 17:38] #138 closed

[2022-04-05 17:40] #133 closed

[2022-04-05 17:43] mkhraisha opened #156 "Revocation Tutorial assumes response from credentials/issue is wrong format"
Revocation tutorial assumes that credentials/issue responds with:
[code]
VC API specifies it without the wrapper as

[code]
Really hard to link to the VC-API open-API as the reporter there is currently broken.

[2022-04-05 17:45] #147 closed

[2022-04-05 18:05] OR13 commented on #156
hmm actually I think you are confusing the request a response types.

[2022-04-05 18:09] OR13 commented on #156
This behavior is correct https://api.did.actor/docs#post-/api/credentials/issue

[2022-04-05 18:10] OR13 commented on #156
The tutorial and our open api definitions here should be the same as the link and working example provided above^

(ignore the mnemonic stuff)

[2022-04-05 18:11] nissimsan commented on #112
Closed, we just merged PR doing this. PR-148

[2022-04-05 18:11] #112 closed

[2022-04-05 18:15] OR13 commented on #75
https://w3id.org/traceability/interoperability/reports

[2022-04-05 18:15] #75 closed

[2022-04-05 18:16] mkhraisha commented on #156
Yup, so the tutorial is incorrect as it assumes the response is wrapped and tries to access a `credential` object :

[code]

![image](https://user-images.githubusercontent.com/19310771/161822760-0328859a-819e-4691-9651-25ce3f1186ff.png)

[2022-04-05 18:16] #99 closed

[2022-04-05 18:18] BenjaminMoe commented on #85
On it

[2022-04-05 18:20] nissimsan commented on #41
Necessary for addressing this:
- Make negative tests.
- Define error JSONs.

[2022-04-05 18:20] OR13 commented on #41
Use english language to describe error cases, then ensure that there is a postman collection that asserts the json structure for each error condition.

[2022-04-05 18:24] OR13 commented on #96
We might consider certifying the test reports generated here: https://w3id.org/traceability/interoperability/reports

[2022-04-05 18:25] OR13 commented on #39
There is still nothing to do here.

[2022-04-05 18:26] nissimsan commented on #118
As defined in https://github.com/w3c-ccg/traceability-interop/blob/main/docs/discovery.md

[2022-04-05 18:27] OR13 commented on #118
File that needs to be updated: https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/schemas/DidResolutionResponse.yml

[2022-04-05 18:27] OR13 commented on #118
This is specific to our use of did web.

[2022-04-05 18:28] nissimsan commented on #127
General agreement on the call to get rid of `components`

[2022-04-05 18:34] mkhraisha commented on #41
Initial Error cases when issuing a credential:

requests:

- [ ] issuer that does not support suite required by options
- [ ] revocation type requested that is not supported by the issuer
- [ ] missing credential subject
- [ ] term not defined in context

responses:
- [ ] missing credential subject
- [ ] the credential subject is not an object or a string
- [ ] missing context
- [ ] missing proof

[2022-04-06 15:19] #127 closed

[2022-04-06 15:20] #156 closed

[2022-04-06 21:47] brownoxford opened #164 "Tutorial documentation for presentations-exchange is drifting"
Multi-actor updates to presentations-exchange postman collection need to make it into the documentation.

[2022-04-06 21:48] brownoxford opened #165 "Copy/Paste error in Get Organization DIDs testing"
The following need to be updated, see tests in Presentation Exchange for updates.

[code]

[2022-04-06 21:52] brownoxford opened #166 "Stop being smart about skipping tests"
We shouldn't be skipping any tests in postman collections (Get Organization DIDs). See changes to Presentations Exchange for updates that should be carried through to other collections.

[2022-04-07 16:27] brownoxford opened #175 "Update DID resolution tests wrt. new service requirements"
See discovery.md

[2022-04-07 17:20] brownoxford opened #176 "Credentials verification response needs additional work"
Right now the [documented response](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/schemas/VerificationResult.yml) from a credentials verification check specifies that there can be three string arrays (`checks`, `warnings`, and `errors`).

In order to confidently write interop tests that include VC verification, we need to more details about what these string arrays will co

[2022-04-07 18:11] #165 closed

[2022-04-07 18:11] #166 closed

[2022-04-07 21:41] OR13 commented on #176
I added a boolean... but we still need to discuss less terrible solutions

[2022-04-08 13:02] brownoxford opened #187 "Should all DID resolution requests be unauthenticated?"
The new verifier DID resolution requests added to the presentation testing is unauthenticated - should we *always* make unauthenticated DID resolution requests?

@nissimsan @OR13 pinging for comment

[2022-04-08 13:53] brownoxford opened #188 "Presentations prover should send VP in response body"
Right now, the API defines the responses for the `/presentations/prove` request as follows:

[code]

I believe this should reference `../schemas/SerializedVerifiablePresentation.yml`, not `../schemas/SerializedVerifiableCredential.yml`

@OR13 if you confirm I will fix immediately.

[2022-04-08 14:06] brownoxford opened #189 "It should be possible to build OAS by itself"
Right now, the OAS is only built during the main interoperability-report workflow. It would be handy if we could kick off a build and deployment of the `docs/openapi` subfolder separately.

We could have a `workflow_dispatch` or some other smart job that runs on `push` with logic to see if anything in the `docs/openapi` folder was modified in the commit.

[2022-04-08 14:17] brownoxford commented on #150
We need to ensure that testing is checking for 'service' and not 'services'. The presentations exchange and presentations verify tutorials are both making did resolution requests to get the appropriate verifier exchange endpoint using the did document `services` section, which is currently breaking the (correct) implementation from Mavennet.

Presumably other implementations are returning `service

[2022-04-08 15:10] brownoxford opened #193 "Do we need to be more specific about using did document `service` array?"
Our tests are now using DID document `service` array to get base url for presentation verifier (see #182, #183, #191).

We are blindly using `services[0].serviceEndpoint` for this purpose - should we not instead filter that list for a service with DID URL having `#traceability-api` fragment or `type:"TraceabilityAPI"`?

[2022-04-08 17:43] mkhraisha commented on #193
`type:"TraceabilityAPI"` resonates quite a bit

[2022-04-08 18:28] TallTed commented on #187
No, we should not always make unauthenticated DID resolution requests (all DID resolution requests should not be unauthenticated).

Both unauthenticated and authenticated DID resolution requests should be tested.

[2022-04-08 19:23] OR13 commented on #41
We have a generic error response today:

[code]

[2022-04-08 19:36] OR13 commented on #41
Before we go further, an entire category of '400' errors is solved for by:

`instance data is not of the required schema type`

For example:

`credential is not of type Credential`.

Where `Credential` says, `@context`, `issuer`, `issuanceDate` are required.

I propose we solve for these kinds of errors consistnetly... a very common pattern looks like this:

[code]

[2022-04-11 15:14] OR13 commented on #187
IMO, all our tests should require authentication, when we expect it to be used in a production use case... there are "open world" api scenarios we might consider, like the interactions between CHAPI and the presentation exchange APIs.... but thats probably better handled on a separate issue.

[2022-04-11 15:15] OR13 commented on #188
You are correct.

[2022-04-11 15:54] #188 closed

[2022-04-11 17:12] TallTed commented on #188
I guess [this](https://github.com/w3c-ccg/traceability-interop/issues/188#issuecomment-1095182377) should have been an approving CODEOWNER review on [the PR](https://github.com/w3c-ccg/traceability-interop/pull/190)?

[2022-04-11 19:31] OR13 commented on #193
Also fix the todo noted on https://github.com/w3c-ccg/traceability-interop/pull/191#issuecomment-1095234699

[2022-04-12 14:29] OR13 opened #196 "Add script for setting secrets"
[code]

This could be used to help make adding new vendors easier

[2022-04-12 16:18] brownoxford commented on #175
This is addressed by #197

[2022-04-12 16:21] brownoxford commented on #150
See #191, we may be able to close after merging that.

[2022-04-12 17:48] #189 closed

[2022-04-12 17:53] mprorock opened #199 "Need a place to store test results over time"
a database somewhere, likely - see pr #177

[2022-04-12 17:54] mprorock opened #200 "need static test reporting"
need to add in static html reporting via pr #177 and publish to gh-pages

[2022-04-12 19:02] nissimsan opened #201 "Deleting all workflows except CI and Report Generation"
Unless there's a need to run workflows individually, we should get rid of the ones which aren't CI or Generate the interop report.

Only the .yml should be deleted, not the postman collection.

We discussed this [here](https://github.com/w3c-ccg/traceability-interop/pull/167), but is was proposed that get rid of more than the three proposed deletions.

[2022-04-13 11:19] brownoxford commented on #201
Here is the list of current workflow YAML files that we have agreed to keep outright:

- interoperability-report.yml (Interop tests and publication of results)
- publish-openapi-spec.yml (Build and publish OpenAPI spec on changes)
- ci.yml.skip (Runs linter, possibly disabled currently)

The following all run various unit testing workflows, with cross-provider matrices where appropriate.

- authen

[2022-04-19 17:50] #115 closed

[2022-04-19 17:51] OR13 commented on #17
https://github.com/decentralized-identity/waci-didcomm/issues/14

[2022-04-19 17:53] OR13 commented on #17
We won't close this until the issue above is addressed.

[2022-04-19 17:53] #142 closed

[2022-04-19 17:53] mprorock commented on #142
resolved

[2022-04-19 18:01] #149 closed

[2022-04-19 18:01] OR13 commented on #151
we did this

[2022-04-19 18:03] #153 closed

[2022-04-19 18:05] #154 closed

[2022-04-19 18:06] nissimsan commented on #100
Try this on api.did.actor first

[2022-04-19 18:07] brownoxford opened #204 "Add scope testing to Postman suite"
Once #124 has a merged PR, we need to update Postman tests to include isolated scope related tests with the following at a minimum (please free free to add to this list).

- [ ] Token requests without scopes should not return any scopes
- [ ] Client request for allowed scope should include scope in token
- [ ] Client request for not allowed scope should not include scope in token

[2022-04-19 18:07] OR13 commented on #85
Still broken
![Screen Shot 2022-04-19 at 1 07 42 PM](https://user-images.githubusercontent.com/8295856/164067990-01736721-af54-4ccf-967e-c382a7fb8040.png)

[2022-04-19 18:12] mkhraisha opened #205 "Github Actions interop report and spec changes should be separated"
Right now interop is pushed as a cron job nightly, spec changes should be published on merge to master

[2022-04-19 18:17] nissimsan commented on #87
Unassigning myself, as we just decided to wait with this.

[2022-04-19 18:18] OR13 commented on #39
There is still nothing to do here.

[2022-04-19 18:20] OR13 commented on #96
plan is to certify the merged json used to build the "nice report"... blocked until that happens.

[2022-04-20 11:45] nissimsan commented on #41
I assigned `401` and `403` today as I was [adding security](https://github.com/w3c-ccg/traceability-interop/pull/206).
More can be added, so let's keep this open, will continue when the above is merged.

[2022-04-20 13:41] nissimsan commented on #100
How about this:
https://www.postman.com/trace-interop/workspace/traceability-interop/overview

Let's discuss before progressing further. Is this at all what we're aiming for? A few notes and todos:

- The collections were manually imported (Import Link -> link to raw collection). Ideally this would be automatically generated to make sure it's properly up-to-date. Newman doesn't seem to support imp

[2022-04-20 14:08] OR13 commented on #100
Initial react is that this seems promising.

The navigation is excellent, I wonder if we could script export to files from this.

the environment config part is worrying though... it feels like stuff that should not be on the web... not sure how to handle that part.

[2022-04-20 14:33] nissimsan commented on #100
<img width="856" alt="image" src="https://user-images.githubusercontent.com/34443212/164253958-0cec3a2a-7364-413d-8b95-035d50a526ae.png">
As long as only `Current Value` is used in the Environment it should be safe. I just added an empty environment this way.

[2022-04-20 15:49] brownoxford commented on #85
This is no longer broken in the traceability-interop repo (https://w3c-ccg.github.io/traceability-interop/#terminology), but is still outstanding in the traceability-vocab repo (https://w3c-ccg.github.io/traceability-vocab/#terminology).

I've reproduced @BenjaminMoe 's PR at https://github.com/w3c-ccg/traceability-vocab/pull/386, I believe this issue can now be closed.

[2022-04-22 16:53] mkhraisha opened #208 "Some reports have HTML but no JSON"
Many interop reports have an HTML but no associated JSON which results in them not showing up on the interop reporter
![image](https://user-images.githubusercontent.com/19310771/164759485-3118e722-ead9-4d6b-9ffd-a822698166c2.png)

[2022-04-22 16:53] mprorock commented on #208
@brownoxford

[2022-04-22 17:51] brownoxford commented on #208
It looks like the presentation exchange is failing to populate the variables needed for the URLs to start and end the exchange when either Transmute or mesur.io is the verifier. I'll nee to dig into this to try and figure out why JSON is not being written in these cases (or if this is even the root cause). When run locally on the command-line, I get both JSON and HTML output for example for the `p

[2022-04-22 19:08] brownoxford commented on #208
Confirmed that if a test fails with invalid url, e.g.,
[code]
the JSON file does not get written. If I write a pre-test script with a default value for the exchange endpoint, no error occurs and the JSON file gets written.
It is not clear why this is happening on the test runner, as a local invocation using the same command does write both json and html.
I don't think that using a default base url

[2022-04-25 14:36] brownoxford commented on #208
This has been fixed and merged with #209

[2022-04-25 14:36] #208 closed

[2022-05-03 17:35] #124 closed

[2022-05-03 18:02] mkhraisha commented on #95
I generally agree with that statement, if over an authenticated channel we should not need to Auth VPs

[2022-05-03 18:06] nissimsan commented on #95
Same here - I see no reason to double authenticate.

We seem to be good on this - there's no proof on the (oauth secured) /presentations:
https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/schemas/Presentation.yml

[2022-05-03 18:06] mkhraisha opened #210 "Need a section on differences/breaking from VC-API"
This should be a section in the spec document itself

[2022-05-03 18:08] mkhraisha commented on #210
An example of a deviation is: https://github.com/w3c-ccg/traceability-interop/issues/95

[2022-05-03 18:09] nissimsan commented on #95
To be closed when tested and #210 is done.

[2022-05-03 18:11] brownoxford commented on #118
This may need some slight modification to reflect our use of the service array

[2022-05-03 18:26] nissimsan opened #211 "Test case should be added for oauth presentation exchange"
An "oauth authenticated presentation exchange" test case should be added to test for the POST /presentations which was added in https://github.com/w3c-ccg/traceability-interop/pull/206.

[2022-05-03 18:27] mkhraisha commented on #187
I think we should switch to authenticated endpoints for all did-resolution postman tests.

[2022-05-04 17:07] mkhraisha opened #213 "Create Presentation takes Crypto suite options via headers, Create Credentials via options"
Currently Create Credentials takes a number of things via an options object including the crypto suite type:
![image](https://user-images.githubusercontent.com/19310771/166741162-c842043f-7cc7-4559-bada-b93f44a21a47.png)
 while the create presentations uses request headers:

![image](https://user-images.githubusercontent.com/19310771/166741422-8620bebc-ef30-4a41-b439-a157129b0498.png)

We should d

[2022-05-05 09:53] nissimsan opened #214 "Reporter is hard to get going"
@mprorock, I'm not able to get your nice reporter running. Following your nice [tutorial](https://github.com/w3c-ccg/traceability-interop/blob/main/reporting/README.md), but get a `Solving environment: failed` because many of the packages aren't found. I think it's an OS issue (I'm on mac), the packages aren't properly/consistently maintained.
@BenjaminMoe (on ubunto) gets the env built, but it fa

[2022-05-05 10:01] BenjaminMoe commented on #214
@nissimsan fails on mac on the first step `conda env create -f environment.yml`

I'm on ubuntu 22.04, I'm able to run the first command, but the second command `conda activate reporting` fails with:

[code]

[2022-05-05 10:05] mprorock commented on #214
I'll take a look at this.  I'm on Ubuntu 22.04 and have tested on 20.04. this might be a version issue, or not having dev dependencies.  Will get this replicated, then add a docker file as well to make it easier for folks not used to python dev

[2022-05-05 10:08] mprorock commented on #214
Most of the way done with this.  So expect that in the next week or so.

Will have someone on our team update the env file.  I think it is currently pinning certain versions that could cause an issue with mac

[2022-05-05 10:11] BenjaminMoe commented on #214
I definitely agree that user error could be an issue here. my experience with python is limited to using it in pre-existing plugin environments where these steps aren't required. But i'm somewhat surprised to see that the simple steps of, execute conda install script, add conda to path, create, activate, run has room for user error.

[2022-05-05 10:12] mprorock commented on #214
Btw, this looks like conda might not be setup right on your system...  Usually if you see this the path is wrong or conda isn't initialized correctly

Some related threads:
https://stackoverflow.com/questions/59510865/unable-to-activate-existing-conda-environments/61255609#61255609

https://stackoverflow.com/questions/66318007/why-am-i-now-getting-a-conda-environment-error-every-time-i-open-new-te

[2022-05-05 10:19] mprorock commented on #214
Quick question on this - did you manually put conda in path, or run `conda init` - the latter is correct, the first can cause issues like this

[2022-05-05 10:23] mprorock commented on #214
This is likely the culprit, when I generated that env file I included repo specifications, e.g.
`dbus=1.13.6=h5008d03_3`
and all other lines should be
`dbus=1.13.6`
and there are a few specific Linux libs in there that we should let dependency resolution handle, like that dbus line I picked out

[2022-05-05 10:46] nissimsan commented on #214
I actually tried removing both version and build, which was suggested somewhere on stackoverflow. That caused other things to vomit, and I guess was a step too far - but same direction.

[2022-05-05 10:56] mprorock commented on #214
Ah, yeah.  Build is always safe to remove.  Versions on the other hand ...

[2022-05-05 11:24] mprorock commented on #214
@nissimsan try pr #215

[2022-05-05 11:30] nissimsan commented on #214
Yessss!!!

[2022-05-05 11:35] nissimsan commented on #214
@mprorock It works now and it's beautiful!

Last tiny bit of feedback, running ./reporter.py I got this:
`OSError: Cannot save file into a non-existent directory: 'data'`
Easily overcome by making a `data` folder. But if you could include a line to make it would be the cherry on top! :)

Thanks!!!

[2022-05-05 12:15] BenjaminMoe commented on #214
That's where i probably went wrong. I used [this page](https://www.how2shout.com/linux/how-to-install-anacondaon-ubuntu-22-04-lts-jammy/#3_Add_Environment_variable_for_Anaconda) as a reference. After running the install script, it asked if I wanted to run `conda init`, I replied `yes`. And then I added the path to bashrc, and reloaded the path.

[code]

[2022-05-05 12:53] mprorock commented on #214
done in 61baacb

[2022-05-05 15:19] mkhraisha opened #216 "Presentations Verify Tutorial needs to be migrated to Presentations Exchange structure"

[2022-05-10 15:20] brownoxford commented on #118
We no longer require `alsoKnownAs[0]` to match `API_BASE_URL`, but we do still use alsoKnownAs[1] as the `credential.issuer` value when subsequently issuing credentials. Postman tests have already been updated to reflect these items, so the only outstanding work here is to update the openapi spec.

[2022-05-10 16:14] brownoxford commented on #175
I'm closing this out as it was addressed when the PR was merged.

[2022-05-10 16:14] #175 closed, assigned to brownoxford

[2022-05-10 16:39] brownoxford commented on #205
@mkhraisha I think this was addressed when we merge #192 to fix #189, can you please review?

[2022-05-10 16:41] brownoxford commented on #193
I think we can close this now that PRs have been merged.

[2022-05-10 16:42] brownoxford commented on #150
We have merged related PRs, this should be ready to close.

[2022-05-10 17:49] #210 closed

[2022-05-10 17:55] #216 closed

[2022-05-10 17:57] #118 closed

[2022-05-11 22:17] BenjaminMoe opened #222 "Presentations Verify Test Env Variables are Mapped Wrong"
https://github.com/w3c-ccg/traceability-interop/blob/main/.github/workflows/interoperability-report.yml#L292
[code]

Fails with:

[code]

Looks like `-env-var` needs to be updated in the yml file to use `ISSUER_TOKEN_ENDPOINT` and `VERIFIER_TOKEN_ENDPOINT`

[2022-05-11 22:22] OR13 commented on #222
`ISSUER_TOKEN_ENDPOINT` and `VERIFIER_TOKEN_ENDPOINT` ought to be $token_endpoint right?

[2022-05-11 22:25] BenjaminMoe commented on #222
Looks like the readme was updated, not the report: https://github.com/w3c-ccg/traceability-interop/tree/main/docs/tutorials/presentations-verify#development

[code]

[2022-05-12 13:59] brownoxford opened #224 "Only publish interop reports from main branch"
If the `interoperability-report.yml` is run from a branch other than `main`, e.g., during the course of testing a PR, the final `interop-publish` step should be omitted. While this will prevent the resulting report from being viewed, it does allow the `interoperability-report.yml` workflow to be tested in production without overwriting or otherwise polluting the published test results.

[2022-05-12 15:08] brownoxford opened #225 "Discuss and clarify use of "Issuer" and "Verifier" in tests"
Current multi-party presentation tests (`presentations-exchange` and `presentations-verify`) use the terms `Issuer` and `Verifier` to represent multiple parties in the tests.

In both cases, the flow includes the following relevant items:

- A call is made to the `Issuer` to issue a credential
- The credential is stored in the Postman collection variables, making the test runner sort of act as a `

[2022-05-12 15:54] #222 closed

[2022-05-13 14:33] brownoxford opened #227 "Credentials issue request should require credentials and proof type"
When making a request to the `/credentials/issue` endpoint, it seems like both the `credentials` and the `options` objects should be required, along with the `options.type` for specifying the signature type.

[2022-05-16 16:23] #205 closed

[2022-05-17 07:42] nissimsan commented on #225
I don't quite agree with these ^ statements. The runner represents not only the holder, but _all_ involved roles, switching between them, invoking corresponding endpoints; often also switching platform provider.

Example:
- Runner acts as party A in the role of `issuer`, calling `/credentials/issue` on mesur
- Runner acts as party A in the role of `holder`, calling `/presentations/available` on Tr

[2022-05-17 08:20] nissimsan commented on #225
Gave this a shot: #231

[2022-05-17 13:31] brownoxford commented on #204
#124 has been merged and closed, adding ready for pr label

[2022-05-17 17:45] #227 closed

[2022-05-17 17:56] OR13 commented on #176
We discussed on the call, @BenjaminMoe @nissimsan  to propose a path forward, @brownoxford to recommend an approach.

blocked by lack of proposed solution.

[2022-05-17 17:56] OR13 commented on #196
We did it fam.

[2022-05-17 17:56] #196 closed

[2022-05-17 17:58] brownoxford commented on #199
@mprorock , can you propose a way forward here? We are currently storing test artifacts with GitHub action runs, but I don't think that the compiled reports are part of that.

[2022-05-17 18:01] OR13 commented on #200
We do not currently support the nice report visualization, and the readme does not contain a link to it.

This ticket can be closed when the readme contains a link to the nice report. and the nice report is run nightly.

[2022-05-17 18:02] OR13 commented on #201
i suggest we keep workflows dispatched individually, because thats useful for testing and tutorials.

[2022-05-17 18:03] OR13 commented on #201
I suggest we remove any workflow that is not useful for testing or tutorials, or that is redundant and complex.

[2022-05-17 18:03] OR13 commented on #17
We still have not addressed the issue.

[2022-05-17 18:06] OR13 commented on #39
There is still nothing to do here.

[2022-05-17 18:09] OR13 commented on #41
I think this is blocked by having a negative test suite.

[2022-05-17 18:11] brownoxford commented on #41
Self-assigning to begin work on negative test suite.

[2022-05-17 18:11] BenjaminMoe commented on #41
I think that having specific error messages can drift easily, but I agree with @OR13 that a test suite is the logical step for addressing these details.

[2022-05-17 18:12] OR13 commented on #100
Next steps:

1. add a link to the top level readme
2. add scripts / documentation for keeping the hosted version in sync.

[2022-05-17 18:13] OR13 commented on #85
This was fixed.

[2022-05-17 18:13] #85 closed

[2022-05-17 18:18] OR13 commented on #211
This is a dupe of https://github.com/w3c-ccg/traceability-interop/issues/95

[2022-05-17 18:18] #211 closed

[2022-05-17 18:19] OR13 commented on #187
Consensus is that everything should be authenticated.

We can close this when we have negative tests that confirm that all endpoints require auth.

[2022-05-17 18:21] OR13 commented on #187
We think

`/presentations/available` and `/presentations/submissions` should NOT require authentication.

We think all other endpoints should require authentication with scopes.

[2022-05-17 18:22] BenjaminMoe commented on #187
I agree with: https://github.com/w3c-ccg/traceability-interop/issues/187#issuecomment-1129181211

[2022-05-17 18:42] BenjaminMoe commented on #187
Objections on the call was the the description needs to be updates, and we need to provide a list of end-points on this issue and provide a list of end points, and then provide rationality for why we think authentication should be required or not.

There's a second aspect of optionality. I agree that as a spec that we should avoid optionality. So we should provide rationale for how authentication

[2022-05-18 13:56] nissimsan commented on #187
I completely agree, @OR13. I was just writing this:
- DIDAuth presentation (`POST /presentations/available` and `POST /presentations/submissions`) MUST NOT have OAuth security.
- OAuth presentation (`POST /presentations`) MUST have OAuth security.

[2022-05-18 14:01] TallTed commented on #187
from @OR13's use case 1 (https://github.com/w3c-ccg/traceability-interop/issues/187#issuecomment-1130042940)

To my eyes, that says "Alice requests resolution of Bob's DID" which I *think* is an unauthenticated request, given that authentication gets discussed later in that use case.  This DID resolution request is entirely independent of `/presentations/available` and `/presentations/submissions`

[2022-05-18 14:19] OR13 commented on #187
I focused my comments on `/presentations/available` and `/presentations/submissions` intentionally.

We can discuss security considerations of the other endpoints on a separate issue, each endpoint likely requires different scopes / attention.

... but you are not correct that "DID Resolution" requires "network requests" ...

HTTP is just 1 way of doing DID resolution... you don't need to make any

[2022-05-18 16:13] OR13 commented on #187
I can also update the title and description of this issue to focus it on `GET /identifiers/{did}`.

[2022-05-19 15:35] BenjaminMoe opened #234 "Remove Presentation Exchange test in report"
It looks like the `presentation-exchange` test has been replaced by other tests and no longer needs to be in the report. Ref: https://github.com/w3c-ccg/traceability-interop/pull/233#discussion_r877186170

[2022-05-19 15:52] brownoxford commented on #234
Please note that this refers ONLY to the single test that was (prior to #233) persisting the `credential_issuer_id` in the collection variables. After the merge of PR #233, the test in question now looks like the following code block, and can be removed from the Tests tab of the "Get Organization DIDs (Verifier)" request in the "Presentation Exchange Tutorial":

[code]

[2022-05-23 15:04] brownoxford opened #238 "Github pages bot not running"
The automated task that should be running after the scheduled interop tests does not appear to be running. This is preventing github pages from being updated nightly.

[2022-05-23 15:20] brownoxford commented on #238
This appears to be a regression caused by PR #226. Investigating.

[2022-05-23 17:03] #238 closed

[2022-05-24 17:57] #225 closed

[2022-05-24 18:06] #234 closed

[2022-05-24 19:06] nissimsan opened #240 "Adding a couple of more traceability Jitsi hosts, pls?"
Hi @msporny,

On the traceability call today I asked if we could add myself (nis@transmute.industries) and Ben (benjamin@transmute.industries) as hosts so we can start the Tuesday traceabiliity jitsi calls. @mkhraisha said I should ask you about it - is that something you can help us with, please?

Hope you're doing good! Say hi to your team from me, pls. :)

Nis

[2022-05-31 17:32] nissimsan commented on #240
@mprorock copying you on this ^^

Plus @OR13

[2022-05-31 17:46] #193 closed

[2022-05-31 17:48] brownoxford commented on #204
Keeping this open until we have PRs for this.

[2022-05-31 17:49] nissimsan commented on #176
@BenjaminMoe, let's discuss this tomorrow

[2022-05-31 17:51] nissimsan commented on #199
@mprorock , pinging you for a comment. ^

[2022-05-31 17:51] brownoxford commented on #199
No action has been taken on this yet

[2022-05-31 17:54] nissimsan commented on #201
This is only about clearing out the list on https://github.com/w3c-ccg/traceability-interop/actions

[2022-05-31 17:56] #201 closed

[2022-05-31 17:58] nissimsan commented on #17
If no one is planning to implement didcomm, we should stop spending time discussion this issue.

[2022-05-31 18:04] brownoxford commented on #87
ping @mprorock

[2022-05-31 18:06] nissimsan commented on #41
@brownoxford has some stuff he'll PR to indicate direction on this.

[2022-05-31 18:09] nissimsan commented on #100
... @brownoxford , maybe?

[2022-05-31 18:12] nissimsan commented on #100
Start by adding raw links to README

Investigate if there a thing such as Postman-hub? That would be appropriate

[2022-05-31 18:13] nissimsan commented on #95
Let's wait until we have tests in place before closing.

[2022-05-31 18:20] nissimsan commented on #187
Discussing on the call: the three /presentations endpoints are the important ones to cover here, dealing directly with interoperability.

[2022-05-31 18:23] nissimsan commented on #187
Consensus to close this general ticket and open individual per-endpoint issues.

[2022-06-02 18:22] brownoxford opened #242 "Define OAuth2 requirements for `/presentations/submissions`"
The goal of this issue is start discussion regarding the OAuth2 authentication requirements of the [`/presentations/submissions` endpoint](https://w3c-ccg.github.io/traceability-interop/openapi/#post-/presentations/submissions).  This issue stems from the discussion on #187, and can be considered complete when the following items are resolved:

_**Please note**: the following lists are displayed a

[2022-06-02 21:46] brownoxford opened #243 "Define OAuth2 requirements for `/presentations/available`"
The goal of this issue is start discussion regarding the OAuth2 authentication requirements of the [`/presentations/available` endpoint](https://w3c-ccg.github.io/traceability-interop/openapi/#post-/presentations/available).  This issue stems from the discussion on #187, and can be considered complete when the following items are resolved:

_**Please note**: the following lists are displayed as Gi

[2022-06-02 21:47] brownoxford opened #244 "Define OAuth2 requirements for `/presentations/verify`"
The goal of this issue is start discussion regarding the OAuth2 authentication requirements of the [`/presentations/verify` endpoint](https://w3c-ccg.github.io/traceability-interop/openapi/#post-/presentations/verify).  This issue stems from the discussion on #187, and can be considered complete when the following items are resolved:

_**Please note**: the following lists are displayed as GitHub t

[2022-06-02 21:47] brownoxford opened #245 "Define OAuth2 requirements for `/presentations/prove`"
The goal of this issue is start discussion regarding the OAuth2 authentication requirements of the [`/presentations/prove` endpoint](https://w3c-ccg.github.io/traceability-interop/openapi/#post-/presentations/prove).  This issue stems from the discussion on #187, and can be considered complete when the following items are resolved:

_**Please note**: the following lists are displayed as GitHub tas

[2022-06-02 21:48] brownoxford opened #246 "Define OAuth2 requirements for `/presentations`"
The goal of this issue is start discussion regarding the OAuth2 authentication requirements of the [`/presentations` endpoint](https://w3c-ccg.github.io/traceability-interop/openapi/#post-/presentations).  This issue stems from the discussion on #187, and can be considered complete when the following items are resolved:

_**Please note**: the following lists are displayed as GitHub task lists for

[2022-06-02 21:48] brownoxford opened #247 "Define OAuth2 requirements for `/credentials/:credential-id`"
The goal of this issue is start discussion regarding the OAuth2 authentication requirements of the [`/credentials/:credential-id` endpoint](https://w3c-ccg.github.io/traceability-interop/openapi/#get-/credentials/-credential-id-).  This issue stems from the discussion on #187, and can be considered complete when the following items are resolved:

_**Please note**: the following lists are displayed

[2022-06-02 21:49] brownoxford opened #248 "Define OAuth2 requirements for `/credentials/verify`"
The goal of this issue is start discussion regarding the OAuth2 authentication requirements of the [`/credentials/verify` endpoint](https://w3c-ccg.github.io/traceability-interop/openapi/#post-/credentials/verify).  This issue stems from the discussion on #187, and can be considered complete when the following items are resolved:

_**Please note**: the following lists are displayed as GitHub task

[2022-06-02 21:50] brownoxford opened #249 "Define OAuth2 requirements for `/credentials/status`"
The goal of this issue is start discussion regarding the OAuth2 authentication requirements of the [`/credentials/status` endpoint](https://w3c-ccg.github.io/traceability-interop/openapi/#post-/credentials/status).  This issue stems from the discussion on #187, and can be considered complete when the following items are resolved:

_**Please note**: the following lists are displayed as GitHub task

[2022-06-02 21:50] brownoxford opened #250 "Define OAuth2 requirements for `/credentials/issue`"
The goal of this issue is start discussion regarding the OAuth2 authentication requirements of the [`/credentials/issue` endpoint](https://w3c-ccg.github.io/traceability-interop/openapi/#post-/credentials/issue).  This issue stems from the discussion on #187, and can be considered complete when the following items are resolved:

_**Please note**: the following lists are displayed as GitHub task li

[2022-06-02 21:50] brownoxford opened #251 "Define OAuth2 requirements for `/identifiers/:did`"
The goal of this issue is start discussion regarding the OAuth2 authentication requirements of the [`/identifiers/:did`](https://w3c-ccg.github.io/traceability-interop/openapi/#get-/identifiers/-did-) endpoint.  This issue stems from the discussion on #187, and can be considered complete when the following items are resolved:

_**Please note**: the following lists are displayed as GitHub task list

[2022-06-02 21:51] brownoxford opened #252 "Define OAuth2 requirements for `/did.json`"
The goal of this issue is start discussion regarding the OAuth2 authentication requirements of the [`/did.json` endpoint](https://w3c-ccg.github.io/traceability-interop/openapi/#get-/did.json).  This issue stems from the discussion on #187, and can be considered complete when the following items are resolved:

_**Please note**: the following lists are displayed as GitHub task lists for visual effe

[2022-06-07 12:57] BenjaminMoe commented on #187
Since the other issues have been opened, i think this issue is safe to close.

[2022-06-07 13:58] brownoxford commented on #41
Draft PR #253 is where this will be added

[2022-06-07 18:32] nissimsan commented on #187
Closing this, moving the discussion to the individual issues.

[2022-06-07 18:32] #187 closed

[2022-06-07 19:55] #204 closed

[2022-06-14 17:37] BenjaminMoe commented on #242
**Goal 1**

The `/presentations/submissions` endpoint MUST NOT require OAuth2

[2022-06-14 17:37] BenjaminMoe commented on #243
**Goal 1:**

The `/presentations/available` endpoint MUST NOT require OAuth2

[2022-06-14 17:59] BenjaminMoe commented on #244
**Goal 1:**

The `/presentations/verify` endpoint MUST require OAuth2

**Goal 2:**

`verify:credentials` Grants permission verify Verifiable Credentials

**Opinion:**

The verify credential doesn't necessarily require the user to be logged in to verify a credential. So it's potentially possible to host the verify operation as a public service. But in practicality the verify operation is fairly exp

[2022-06-14 18:02] BenjaminMoe commented on #245
**Goal 1**;

 The `/presentations/prove` endpoint MUST require OAuth2

**Goal 2**:

`prove:presentations` Grants permission to prove Verifiable Presentations

**Opinion**

This is one that should be non-ambiguous. Proving a presentation requires the server to contain key material for the prove operation. Which means by definition the request must be authenticated.

[2022-06-14 18:19] mkhraisha commented on #39
There is still nothing to do here.

[2022-06-14 18:20] BenjaminMoe commented on #246
**Goal 1:**

The `/presentations` endpoint MUST require OAuth2

**Goal 2**;

`submit:presentations` Grants permission to submit Verifiable Presentations

**Opinion**:

This one should be non-ambiguous, requires OAuth by definition.

[2022-06-14 18:20] nissimsan commented on #240
@mprorock - ping, pls?

[2022-06-14 18:23] nissimsan commented on #199
How about a folder with time-stamped report results?

[2022-06-14 18:24] mkhraisha commented on #17
Closed

[2022-06-14 18:24] #17 closed

[2022-06-14 18:25] #213 closed

[2022-06-14 18:26] mkhraisha commented on #96
Still Blocked by #200

[2022-06-14 18:27] mkhraisha commented on #200
@mprorock assigning you to this

[2022-06-14 18:36] mkhraisha commented on #87
VC API defines an exchanges API, our goal on the traceability interop API is to be a superset of the VC-API, and as such we should support `/exchanges`.

[2022-06-14 18:57] msporny commented on #240
Hey, @nissimsan -- apologies, looks like this request got devoured by my inbox. Yes, happy to... creating accounts now.

[2022-06-14 19:09] msporny commented on #240
@nissimsan accounts created, you have the login details now. Same for Benjamin.

Let me know if you guys need to know how to log in... it's in the "..." menu, I believe... under "Settings->Profile" IIRC -- it's in a weird place... but once you log in, you should see a crown next to your icon.

Yes, doing well... hope you're well too! Hoping to catch up with you if there is ever an event in EU that

[2022-06-15 16:12] TallTed commented on #242
Justification?

I'm sure I don't fully understand either OAuth2 or the currently popular split of endpoints, as listed in the several "Define OAuth2 requirements" issues, but to the degree I do, it seems to me there are conceivable situations where one might want to require authentication for all endpoints one makes available, including `/presentations/available`.  In itself, this might not requir

[2022-06-15 16:28] TallTed commented on #244
Why MUST it require OAuth2?  Why is no other (possibly not yet existent) authentication method viable?

(I strongly advise not treating "OAuth" and "OAuth2" as interchangeable terms, i.e., if an "endpoint MUST require OAuth2", it doesn't make sense "to require OAuth for this end point".)

[2022-06-15 16:49] TallTed commented on #199
[Date]time-stamped report results are likely to be the easiest short-term path forward, until we reach hundreds of reports which might call for yearly, or year-monthly folder organization, or that we shift to an actual DBMS.

One trouble with this method is that it can be hard to get the latest report for each component, from which to produce a consolidated report -- which will absolutely be desir

[2022-06-15 19:08] BenjaminMoe commented on #246
This was a mistype on my end. Where I used OAuth as a general term. The standard industry version of OAuth is OAuth2. I updated my comment to specify OAuth2.

[2022-06-15 19:31] BenjaminMoe commented on #242
`/presentations/available` and `/presentations/submissions` are a set that implicitly use did authorization.

![Presentations - Frame 1(2)](https://user-images.githubusercontent.com/86194145/173907162-3ce3c7a3-977b-4bef-b605-678c5b0303bf.jpg)

1. A holder sends a request to a verifier on the `/presentations/available` end point
2. The verifier end point returns a domain and challenge
3. The holder

[2022-06-15 20:45] TallTed commented on #246
OK, where's the definition of `submit:presentations` wherein it "requires OAuth2 by definition"?

If I'm reading things correctly, I *think* that should be in `openapi.yaml`, but so far as I can tell, there's no such file in this repo, so at minimum, there should be a link out to it in this (and every other) issue that refers to it.

[2022-06-15 21:41] brownoxford commented on #246
Hi Ted, the `openapi.yml` file is located at `docs/openapi/openapi.yml`, but the spec is denormalized into a number of files under the `docs/openapi` folder for development purposes, i.e., not easily usable for reference. There is a nightly automated job that compiles those files into a user-friendly web based version of that document which is deployed to https://w3c-ccg.github.io/traceability-int

[2022-06-21 08:09] BenjaminMoe commented on #246
The definition of the end-point is described in this comment: https://github.com/w3c-ccg/traceability-interop/issues/242#issuecomment-1156846715

Once it's established that OAuth2 is required, the next step is to identify which scope name is to be assigned to the end-point. In this case that scope name as been assigned as `submit:presentations`.

[2022-06-21 09:50] nissimsan commented on #242
+1 on this.

This is a DIDAuth endpoint. OAuth on top of it would be double-authentication.

[2022-06-21 09:55] nissimsan commented on #243
+1 on this.

This is a DIDAuth endpoint. OAuth on top of it would be double-authentication.

[2022-06-21 10:01] nissimsan commented on #246
`/presentations` is the Oauth2 alternative to the DIDAuth endpoints (`/available` and `/submissions`).

+1 on https://github.com/w3c-ccg/traceability-interop/issues/246#issuecomment-1155538126. Although I would word it this way:

- **The `/presentations` endpoint MUST require OAuth2**
- **`submit:presentations` MUST grant permission to invoke `/presentations`**

[2022-06-21 17:14] TallTed commented on #242
@BenjaminMoe --

The large [comment](https://github.com/w3c-ccg/traceability-interop/issues/242#issuecomment-1156846715) is great!  I think something similar should be in each of these detailed issues, preferably as the first comment following the opener, if not as part of the opener itself, especially the last paragraph, i.e. --

I do wonder why you're using checklists for the identified "Goals"

[2022-06-27 13:28] OR13 commented on #87
we don't need to change anything to make them IRIs... they are already supposed to be IRIs given we are using JSON-LD.

we might need to relax "MUST" statements in the profile that speak to UUIDs

[2022-06-28 12:27] brownoxford commented on #251
The purpose of the Traceability API is wrt. did resolution is to provide functionality to facilitate the use of the rest of the Traceability API endpoints, not to provide public universal DID resolver services.

The `/identifiers/:did` endpoint MUST require OAuth2 to ensure that only authorized requests are allowed.

[2022-06-28 12:40] brownoxford commented on #250
The `/credentials/issue` endpoint MUST require OAuth2 to ensure that only authorized requests are allowed.

[2022-06-28 12:40] brownoxford commented on #249
The `/credentials/status` endpoint MUST require OAuth2 to ensure that only authorized requests are allowed.

[2022-06-28 12:41] brownoxford commented on #248
The `/credentials/verify` endpoint MUST require OAuth2 to ensure that only authorized requests are allowed.

[2022-06-28 12:42] brownoxford commented on #247
The `/credentials/:credential-id` endpoint MUST require OAuth2 to ensure that only authorized requests are allowed.

[2022-06-28 13:09] brownoxford commented on #246
I would counter that multiple scopes _could_ be required to access and endpoint, and this language indicates that a single one is sufficient. In most of our use cases I think that is correct, but semantically I don't think a `MUST` and all of its associated meaning can be used here.

I concede that the descriptive text next to the scopes is a bit confusing, perhaps we should simply remove it from

[2022-06-28 15:33] TallTed commented on #246
Perhaps --

* `submit:presentations` MUST grant permission to invoke `/presentations`. Specific deployments MAY require additional scopes without which `/presentations` invocation MAY be rejected.

[2022-06-28 16:34] brownoxford commented on #246
@TallTed those seem contradictory to me.

[2022-06-28 17:52] TallTed commented on #246
@brownoxford -- To me, it seems that the permission granted by `submit:presentations` may be insufficient on its own; that there are other scopes which may also be required.  This does not seem contradictory to me.

[2022-06-29 12:51] OR13 opened #259 "Mark challenge required in PresentationOptions"
https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/schemas/PresentationOptions.yml

leave domain optional.

[2022-07-01 11:50] mprorock opened #261 "Trace Interop Test Onboarding doc"
We need the onboarding process documented for testing @brownoxford

[2022-07-05 17:57] brownoxford commented on #41
I propose that we define generic values for the `message` field, and leave the `description` field up to the implementors. There would be quite a lot of very specific error messages that need to be maintained if we did not do that, and that seems counter-productive.

[2022-07-05 19:12] brownoxford opened #265 "Integrate new conformance tests with existing testing/reporting"
Output from the new conformance testing suite should be integrated into the existing testing and reporting setup.

[2022-07-05 19:13] OR13 commented on #265
Does this apply to both "raw reports" and "interoperability report" ?

[2022-07-05 19:15] brownoxford commented on #265
Yes, this applies both to the interactive "interoperability report" as well as to the raw output `.json` and `.html` files on which it depends. If new badges or links make sense to add, then they should be added as part of the work on this issue.

[2022-07-06 21:10] brownoxford commented on #200
This has been finished and integrated into `main`. Static interactive reports are now generated nightly.

[2022-07-06 21:22] OR13 commented on #200
This is amazing... https://w3id.org/traceability/interoperability/reports

[2022-07-06 21:22] OR13 commented on #200
closing.

[2022-07-06 21:22] #200 closed

[2022-07-07 15:27] #265 closed

[2022-07-07 18:32] brownoxford opened #270 "Add endpoint to conformance report test line-items"
Current [conformance report](Create ticket to see endpoint in conformance suite testing) contains line items like the following:

[code]

This will become very confusing as we start to add conformance tests for multiple endpoints. An indication of which endpoint the line item corresponds to should be added, e.g.:

[code]

[2022-07-07 18:35] brownoxford opened #271 "Clean up GitHub Pages artifacts"
Reports are now published to subfolders, e.g., `/reports/conformance` and `/reports/interoperability`. Remove the legacy report files that were deployed to the `/reports` folder.

[2022-07-07 18:36] brownoxford opened #272 "Update templates used for reporting"
Current interoperability and conformance test reports are generated using the same HTML template. Determine whether or not it makes sense to use separate templates and, if so, modify the templates as needed to be report-specific.

[2022-07-07 21:59] brownoxford opened #275 "Conformance schema update workflow should be smarter"
Workflow must not try to perform git push if there are no changes, as that fails the workflow run.

See https://github.com/w3c-ccg/traceability-interop/runs/7242210746?check_suite_focus=true

Ref: #274

[2022-07-11 11:17] nissimsan commented on #87
@OR13,

Yes, if I remember the conversation correctly this was the essential part.

[2022-07-11 12:29] brownoxford commented on #199
It may make sense to publish the report to `/reports/index.html` in GitHub pages - care will need to be taken to preserve existing files when we publish this though, to prevent overwriting `/reports/interoperability` and `/reports/conformance`.

[2022-07-11 13:53] brownoxford opened #277 "Mask sensitive values in onboarding workflow logs"
The new onboarding workflows introduced in #276 do not properly mask sensitive values that are used but that are not GitHub secrets, e.g., the automatically generated passphrase for the GPG private key.

https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#masking-a-value-in-log

[2022-07-12 14:07] brownoxford opened #278 "Interactive report graphs "don't look right""
In the [conformance test output](https://w3c-ccg.github.io/traceability-interop/reports/conformance/), the two graphs in the result section don't appear to reflect the same values from the matrix above them. Need to investigate what is going on there and fix.

[2022-07-12 14:11] brownoxford commented on #240
@msporny can you add me as well please?

[2022-07-12 14:28] msporny commented on #240
Done.

[2022-07-12 16:07] brownoxford commented on #240
Everyone who needed adding has been added, we can close this out now.

[2022-07-12 17:57] #261 closed

[2022-07-12 18:11] brownoxford commented on #95
The authentication requirements for these endpoints is also covered in the following issues.
#242 #243 #246

[2022-07-12 18:11] #95 closed

[2022-07-12 18:14] brownoxford commented on #176
Discussed on call. This is ready for PR, and suggested to bring this upstream to vc-api group.

[2022-07-12 18:15] brownoxford commented on #39
There is still nothing to do here.

[2022-07-12 18:15] mkhraisha commented on #176
@msporny how do you feel about raising this issue/suggestion to the broader VC-API group

[2022-07-12 18:17] brownoxford commented on #96
This is no longer blocked.

[2022-07-12 18:17] brownoxford commented on #96
First step is to define a schema for this.

[2022-07-12 18:17] nissimsan commented on #96
Step one for this would be to define a schema.

[2022-07-12 18:18] BenjaminMoe commented on #252
The `/did.json` endpoint MUST NOT require OAuth2

[2022-07-12 18:20] BenjaminMoe commented on #252
The `did.json` is the file which is requested when resolving a `did:web`. If a `did.json` is private or otherwise protected, then that did:web will not able to authenticate.

[2022-07-12 18:22] BenjaminMoe commented on #251
Required for conformance, not for interoperability.

[2022-07-12 18:24] BenjaminMoe commented on #250
This end point controls the keys used to sign the credential, which requires the request to be authenticated.

[2022-07-12 18:25] BenjaminMoe commented on #249
This is updating the revocation list for a credential which means that the server has control over the credential, which requires authentication.

[2022-07-12 18:26] BenjaminMoe commented on #248
Required for conformance.

[2022-07-12 18:29] BenjaminMoe commented on #247
Require OAuth2 for credentials that are not public.
No authentication required for credentials that are public.

[2022-07-12 19:03] #277 closed

[2022-07-12 19:03] msporny commented on #176
Yep, +1 to that... we touched on this in the VC API group 3 weeks ago: https://github.com/w3c-ccg/vc-api/issues/292#issuecomment-1162360310

We got to these concrete next steps:

[2022-07-13 21:29] brownoxford opened #282 "Schema definition for DID Document @context needs updating"
The current Open API schema in [TraceabilityAPIDIDWebDocument.yml](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/schemas/TraceabilityAPIDIDWebDocument.yml#L4,L7) defines `@context` to be a string array.

This is problematic, because it does not allow for expanded term definitions, which causes responses making use of `@vocab` to fail validation, e.g., the following fails v

[2022-07-14 12:45] nissimsan commented on #250
Confirming this is defined on the OAS already. No changed needed there.
https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/resources/credential-issuer.yml#L9

[2022-07-14 12:47] nissimsan commented on #249
Confirming OAS is good on this already, no changes needed on the spec.
https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/resources/credential-status.yml#L9

[2022-07-14 16:55] TallTed commented on #282
@brownoxford — `data['@context'][2]` either needs the single-quotes replaced by backticks (i.e., ```[`@context`][2]```) or backticks added inside the single-quotes (i.e., ```['`@context`'][2]```) ...

[2022-07-14 17:38] brownoxford opened #289 "`/identifiers/:did` spec may require additional responses"
The OAS document currently does not specify any type of expected error for invalid `:did` arguments, and instead falls back to a default "unexpected" error defined in [UnexpectedError.yml](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/responses/UnexpectedError.yml)

Questions:
* What is the expected response when the provided `:did` parameter is not a valid DID?
* What is

[2022-07-14 18:06] brownoxford opened #291 "Find a better name for "API Configuration""
The `/did.json` endpoint in the OAS documentation is referred to as "API Configuration". A better name should be found and used.

[2022-07-14 18:20] brownoxford opened #293 "Populate issuer id for /credentials/issue conformance"
The Issue Credentials conformance suite contains the following TODO that needs to be addressed.

[code]

[2022-07-14 18:23] brownoxford opened #294 "Add "not a uri" test for `/credentials/issue`"
The presented request body issuer id must be a valid URI. Add a negative test for string values that are not valid URIs.

[2022-07-14 18:25] brownoxford commented on #275
Closing, this has been fixed by #287

[2022-07-14 18:25] #275 closed

[2022-07-14 18:32] brownoxford commented on #282
doh. thanks @TallTed, comment updated.

[2022-07-14 20:55] nissimsan commented on #246
Confirming this is defined on the OAS already. No changed needed there.
https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/resources/presentations.yml#L8

[2022-07-15 15:35] mkhraisha commented on #247
Who defines if a credential is public or not?

[2022-07-15 15:53] mprorock commented on #247
hard must for us - any retrieval of credentials MUST be authenticated and authorized - VC-API may have some public credential use cases, but I am not aware of any public facing cases that would apply here

[2022-07-15 16:12] TallTed commented on #247
Requiring the endpoint to *support* OAuth2 is reasonable to me, but requiring that OAuth2 be *used* is not.

Exactly.

Deployer, administrator, etc., defines whether a credential is public or private, and if private, available to what entities as authenticated via OAuth2.

Sure. That's _business logic_ a/k/a _use case-specific_ a/k/a _deployment/admin decision_.

[2022-07-15 20:53] brownoxford commented on #247
I do think it is worth pointing out again that if this is defined as `MUST` and an implementor decides not to require OAuth2, they will fail conformance testing but not interoperability testing.

[2022-07-15 21:08] #291 closed

[2022-07-15 22:48] TallTed commented on #247
And as I a=said before... "Requiring [a conforming] endpoint to _support_ OAuth2 is reasonable to me, but requiring that OAuth2 be _used_ [in all scenarios] is not."

If the deploying user/administrator determines that some endpoint (or some resource/s accessible thereby) is *public* a/k/a unprotected a/k/a not requiring of authn/authz, it is unreasonable to require them to take whatever steps are

[2022-07-18 13:44] brownoxford commented on #247
I'm not sure that we will be able to write OAuth2 conformance tests for this endpoint if this is a `MAY` (please help me out here if I'm wrong).

`MUST NOT` tests can be written to confirm that an endpoint **is** accessible without a bearer token.

`MUST` Tests can be written to confirm that an endpoint **is not** accessible without a bearer token

Unless we require implementors to pre-seed their

[2022-07-18 14:03] BenjaminMoe commented on #247
I think the conformance test would effectively be something like the following flow.

1. I issue a revocable credential
2. The revocable credential has a reference to the revocation list
3. I CAN access the credential issues in [1] WITH an access token
4. I CANNOT access the credential issues in [1] WITHOUT an access token
5. I CAN access the revocation list referenced from [1] WITH an access toke

[2022-07-18 14:30] TallTed commented on #247
Going in the right direction.

I think the instances of "credential issue***s***" in these should be "credential issue***d***".

[2022-07-18 19:26] brownoxford opened #302 "Reporter script needs "folder" input"
The current iteration of the reporter test script contains the following configuration item:

[code]

Since report output is now hosted at one of two subfolders (either `conformance` or `interoperability`), we need for this script to be able to download latest report data from the appropriate folder.

I propose adding a command-line switch `--folder` to specify which of these subfolders should be

[2022-07-18 19:37] brownoxford commented on #282
According to [did-core](https://www.w3.org/TR/did-core/#json-ld),

[2022-07-18 20:12] brownoxford commented on #282
Note that OAS v3.0 does not support the `additionalItems` JSON Schema keyword, so we are limited to type checking here.

[2022-07-18 20:54] brownoxford commented on #244
Should the required scope here be `verify:presentations`?

[2022-07-18 21:16] #271 closed

[2022-07-19 07:41] BenjaminMoe opened #307 "Presentation Exchange OAuth is missing a readme file"
All of the other tutorials have a top-level readme file which describes the postman collection. Presentation Exchange OAuth only has the postman .json file. https://github.com/w3c-ccg/traceability-interop/tree/main/docs/tutorials/presentations-exchange-oauth

[2022-07-19 15:38] brownoxford opened #310 "Test issuer id in `/credentials/issue` response"
The issuer id present in a `201 Created` response from `/credentials/issue` MUST match the issuer ID given in the request.

In order to properly test this, we must use an issuer that the system under test knows about, so it must be obtained by resolving the `did:web` for that system and using `alsoKnownAs[1]` from the response as the issuer ID.

[2022-07-19 15:41] brownoxford opened #311 "Add `/credentials/issue` negative test for unknown issuer id"
If a system under test receives a `/credentials/issue` request that contains an issuer id for which the system does not have private key material, an error should be returned. Add a negative test for this scenario using `did:web:example.com` as the issuer ID, since it is not possible for any system to have private key material for that issuer ID.

Question: What should the expected error response

[2022-07-19 15:56] brownoxford commented on #293
This is related to #310. In order to get a usable (valid) issuer id, we need to perform `did:web` resolution for the system under test and use `alsoKnownAs[1]` from the response.

[2022-07-19 16:40] brownoxford commented on #41
Conformance test suite is implementing the negative tests with mutated JSON to produce 4xx errors, and [BadRequest.yml](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/responses/BadRequest.yml), [Unauthenticated.yml](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/responses/Unauthenticated.yml), and [Unauthorized.yml](https://github.com/w3c-ccg/traceab

[2022-07-19 16:57] brownoxford opened #313 "Test `credentials/issue` response for matching subject"
The response from `credentials/issue` should include the same `credentialSubject` passed in through the request.

[2022-07-19 16:58] brownoxford opened #314 "Test `credentials/issue` response `issuanceDate`"
When an `issuanceDate` is provided in the request, the response should contain the same `issuanceDate`
~When the request omits `issuanceDate`, the `issuanceDate` in the response should be `now` (with a suitable leeway)~
(Issuance date is not optional in the OpenAPI spec)

[2022-07-19 17:58] #176 closed

[2022-07-19 18:02] #270 closed

[2022-07-19 18:04] #247 closed

[2022-07-19 18:07] #278 closed

[2022-07-19 18:08] #282 closed

[2022-07-19 18:11] #302 closed

[2022-07-19 18:14] #259 closed

[2022-07-19 18:50] #294 closed

[2022-07-19 19:23] brownoxford opened #315 "Dynamic height on conformance facets"
The conformance testing facet plot is currently fixed-height. As we add more elements to the plot, things start to overlap. Height of the plot should be dynamically determined based on the number of elements so that overlap never occurs.

![Screen Shot 2022-07-19 at 3 22 58 PM](https://user-images.githubusercontent.com/755209/179831977-6365051e-ba4d-401b-935e-60597f0be048.png)

[2022-07-26 18:02] #240 closed

[2022-07-26 18:18] BenjaminMoe commented on #272
Interop Report: https://w3c-ccg.github.io/traceability-interop/reports/interoperability/
Conformance Report: https://w3c-ccg.github.io/traceability-interop/reports/conformance/

Possible suggestions change title or summary.

[2022-07-26 18:22] BenjaminMoe commented on #87
Proposal for resolution:

- [ ] We allow for human readable paths for exchange end points
- [ ] We DO NOT allow for human readable paths for exchange end points

1. We agree on this definition
2. We have updated the spec to reflect this.

[2022-07-26 18:25] nissimsan commented on #87
As far as I can tell nowhere in the spec do we actually have this "MUST" suggested in this issue. So I agree we can just go ahead and close this ticket.

[2022-07-26 18:28] BenjaminMoe commented on #100
No action has been taken on this issue.

[2022-07-26 18:29] BenjaminMoe commented on #39
Can't build an end point until foundation is in flux. Ask Brian to update.

[2022-07-26 18:31] nissimsan commented on #39
@brianorwhatever, we just discussed this again on our weekly call. Curious if you might have any updates you can share on the topic?

[2022-07-26 18:42] brianorwhatever commented on #39
I know the BBS+ group at DIF presented to IETF this week with positive reception. Hopefully the work will be brought over to IETF soon and there will be something to do here then

[2022-07-27 13:59] kgobin2000 commented on #100
Could I get a link to join the postman `trace-interop` team? The previous invite expired.

[2022-07-27 14:29] nissimsan commented on #100
@kgobin2000, I don't think I understand your question? You're here already. :)
You can find all the postman collections here: https://github.com/w3c-ccg/traceability-interop/tree/main/docs/tutorials

Pls elaborate if I misunderstood what you're asking.

[2022-07-27 14:54] kgobin2000 commented on #100
I wanted to verify/create integrations to sync the collection with Github if they don't already exist. The previous invite link ([https://app.getpostman.com/join-team?invite_code=74125d75f27465c573844962880bf923&target_code=27e1d452646a56288bdc291c59622fcf](url)) expired

[2022-07-27 15:24] nissimsan commented on #100
Oh, I see. Yea, that was convenient to have the collections listed in Postman. We're kinda going in a slightly different direction, though, just listing collections somewhere here on an .md file, mainly because we don't need to maintain a postman account alongside the "actual" stuff here.

It's (almost) as easy to use, though:
- Go to the tutorials I linked above.
- Find the one you want to run (l

[2022-07-27 18:00] brownoxford commented on #252
OpenAPI documentation has been updated, and conformance tests are in place. This can be closed out.

[2022-07-27 18:02] brownoxford commented on #251
OpenAPI documentation has been updated, and conformance tests are in place. This can be closed out.

[2022-07-27 18:03] brownoxford commented on #250
OpenAPI documentation has been updated, and conformance tests are in place. This can be closed out.

[2022-07-27 18:04] brownoxford commented on #249
OpenAPI documentation has been updated, and conformance tests are in place. This can be closed out.

[2022-07-27 18:06] brownoxford commented on #248
OpenAPI documentation has been updated, and conformance tests are in place. This can be closed out.

[2022-07-27 18:08] brownoxford commented on #246
OpenAPI documentation has been updated, and conformance tests are in place. This can be closed out.

[2022-08-05 12:39] nissimsan opened #325 "/presentations endpoints support for TraceablePresentations"
https://w3c-ccg.github.io/traceability-interop/openapi/#post-/presentations
and
https://w3c-ccg.github.io/traceability-interop/openapi/#post-/presentations/submissions
should have the "TraceablePresentation" on the request schema.

[2022-08-09 17:49] nissimsan commented on #96
We're essentially doing this already.
Once we're passing tests we can reopen this.

[2022-08-09 17:49] #96 closed

[2022-08-09 17:51] nissimsan commented on #289
Some kinds of 4XX error should be returned.

[2022-08-09 17:52] OR13 commented on #289
See https://w3c.github.io/did-spec-registries/#did-resolution-metadata

Suggest http status code and messages that align.

[2022-08-09 17:54] nissimsan commented on #307
Given that this is the direction we agree on going (switching from DIDAuth to Oauth), this is a particularly important tutorial to add.

[2022-08-09 17:57] nissimsan commented on #311
Go with `400 Bad Request`

[2022-08-09 17:58] BenjaminMoe commented on #311
`400 Bad Request`

[2022-08-09 18:00] #41 closed

[2022-08-09 18:05] BenjaminMoe commented on #272
Change title and summary.

[2022-08-09 18:08] nissimsan commented on #87
@OR13, are you okay to close this?

[2022-08-09 18:09] nissimsan commented on #199
Still ready for PR.

[2022-08-09 18:10] nissimsan commented on #39
Still externally blocked.

[2022-08-09 18:10] OR13 commented on #87
I'm good to close this, not planning to implement at this time.

[2022-08-09 18:12] nissimsan commented on #100
I'd love to see these listed on https://w3c-ccg.github.io/traceability-interop/ too before closing.

[2022-08-09 18:14] nissimsan commented on #100
@OR13, you okay to close?

[2022-08-09 18:14] OR13 commented on #100
yes

[2022-08-09 18:14] nissimsan commented on #252
We did this.

[2022-08-09 18:14] #252 closed

[2022-08-09 18:15] nissimsan commented on #251
We did this.

[2022-08-09 18:15] #251 closed

[2022-08-09 18:15] nissimsan commented on #250
We did this.

[2022-08-09 18:15] #250 closed

[2022-08-09 18:15] nissimsan commented on #249
We did this.

[2022-08-09 18:15] #249 closed

[2022-08-09 18:16] nissimsan commented on #248
We did this.

[2022-08-09 18:16] #248 closed

[2022-08-09 18:16] nissimsan commented on #246
We did this.

[2022-08-09 18:16] #246 closed

[2022-08-09 18:18] nissimsan commented on #325
https://w3c-ccg.github.io/traceability-vocab/#TraceablePresentation

[2022-08-10 21:00] brownoxford opened #329 "Allow `Ed25519Signature2018` proof type in `credentials/issue` response"
If a post to `credentials/issue` specifies the `Ed25519Signature2018` for `options.type`, e.g.:

[code]

the response should be allowed to contain `Ed25519Signature2018` as `proof.type`:

[code]

Currently, only one value for `type` is allowed in [LinkedDataProof.yml](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/schemas/LinkedDataProof.yml)

[code]

[IssueCredentialOption

[2022-08-10 21:01] brownoxford commented on #329
It seems that, at the very least, `LinkedDataProof.yml` should be updated to add `Ed25519Signature2018` to the `type` enum.

[2022-08-11 17:53] brownoxford opened #330 "Should we remove `options.credentialStatus` from `credentials/issue` request?"
There seems to [be some discussion](https://github.com/w3c-ccg/vc-api/issues/292#issuecomment-1162319157) in the vc-api repo regarding removing `credentialStatus` from the settable options for a credential issuer endpoint. Is this something that should be carried into the interop open api spec as well?

This relates to [IssueCredentialOptions.yml](https://github.com/w3c-ccg/traceability-interop/bl

[2022-08-11 20:25] brownoxford opened #333 "Should "type" allow `string` in addition to `array of string`?"
Should the schema nodes that contain a type property allow both string and array of string? I'm referring specifically to these items, but more may be relevant:

- [Credential](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/schemas/Credential.yml)
- [VerifiableCredential](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/schemas/VerifiableCredential.yml

[2022-08-11 20:28] brownoxford commented on #311
Blocked by #293

[2022-08-11 20:28] brownoxford commented on #293
Blocks #311

[2022-08-12 14:45] #293 closed

[2022-08-12 15:12] #310 closed

[2022-08-12 15:40] #313 closed

[2022-08-12 16:11] #311 closed

[2022-08-12 16:26] brownoxford opened #338 "Update conformance testing after PR #288"
PR #288 made `credential.issuer.id` a required property when `credential.issuer` is expressed as an object. Update existing conformance testing for the `credentials/issue` endpoint to take this change into account.

[2022-08-12 16:36] #338 closed

[2022-08-12 17:11] #314 closed

[2022-08-12 17:13] mkhraisha commented on #333
I'm a +1 to the proposed schema , its a relatively small change but it ends up making it pretty easy to be interoperable with a bigger audience

[2022-08-15 14:28] brownoxford opened #342 "Clean up remaining references to alsoKnownAs[0]"
Prior to the addition of the `service` with type `TraceabilityAPI` to the DID web document OpenAPI spec, we used to rely on `alsoKnownAs[0]` from did web discovery to obtain the service endpoint a traceability API implementation.

We still use `alsoKnownAs[1]` to obtain valid DIDs for issuing credentials etc., even though `alsoKnownAs[0]` is no longer required. Additionally, some of the OpenAPI sp

[2022-08-15 14:48] brownoxford opened #343 "Conformance schemas should not include embedded examples"
The `update_conformance_schemas.sh` script embeds OpenAPI schemas as json in conformance test suites, but does not prune out embedded examples. These examples are not required for schema validation, and contribute bloat to the Postman suite.

Modify `update_conformance_schemas.sh` so that schema examples are excluded from the Postman conformance suite.

[2022-08-15 16:06] brownoxford commented on #245
OpenAPI documentation has been updated, and conformance tests are in place. This can be closed out.

[2022-08-15 16:06] brownoxford commented on #244
OpenAPI documentation has been updated, and conformance tests are in place. This can be closed out.

[2022-08-15 18:45] brownoxford commented on #243
OpenAPI documentation has been updated. Since OAuth2 is not required for this endpoint, we will not need to write specific negative testing to ensure that it is enabled. This can be closed out.

[2022-08-15 18:46] brownoxford commented on #242
OpenAPI documentation has been updated. Since OAuth2 is not required for this endpoint, we will not need to write specific negative testing to ensure that it is enabled. This can be closed out.

[2022-08-15 19:07] TallTed commented on #311
I think `400` is not the right choice here, as that implies an error in the request, which is not the case; the issue is that the server lacks the private key material -- which presumably could be added to the server.

On that basis, I think [`501 Not Implemented`](https://www.rfc-editor.org/rfc/rfc9110.html#name-501-not-implemented) is the closest match, meaning `The server ... lacks the ability

[2022-08-15 19:19] brownoxford opened #347 "Clarify /credential/status success response"
The current success response for a post to the [`/credential/status`](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/resources/credential-status.yml) endpoint is `200`, but without any defined response body.

This should either be redefined as a `204 No Content` response, or a response body should be defined. This issue should be updated with the proposed fix after discussi

[2022-08-15 19:53] brownoxford commented on #289
If the provided value for `:did` is not a valid DID, the response `code` should be `400` (Bad Request) with a message of `Bad Request: Invalid DID`

If the provided value for `:did` cannot be resolved, the response `code` should be `404` (Not Found) with a message of `Not Found: The requested resource could not be found`

[2022-08-15 20:48] brownoxford commented on #311
hmm. I see your point, but would lean towards 422 (if anything) because it is the client making the request with an incorrect value for issuer id. Servers publish valid values in their did:web documents, so it's reasonable to expect that the client uses a valid value here.

[2022-08-15 21:26] TallTed commented on #311
@brownoxford -- Do you see no possibility of a server being incorrectly stood-up, such that it lacks some key material that it is *meant* to have, i.e., server admin error rather than client user error?

[2022-08-16 12:39] brownoxford commented on #311
@TallTed I do, but I think that the best way to handle this one is to assume the server is set up correctly and select the best 4xx error. Otherwise we start getting into slippery slope territory with things like 400 errors, i.e., is it REALLY a 400, or did the admin accidentally delete the requested route and it should be a 5XX?

I agree that the initial choice of `400` is probably not best becau

[2022-08-16 12:51] brownoxford opened #349 "Response code for /credentials/issue with unknown issuer id"
We recently implemented a `400 Bad Request` response if a request to `/credentials/issue` contains an `issuer` for which the server does not have private key materials, but which is otherwise well formed and correct (#311).

@TallTed called out that [`400 Bad Request`](https://www.rfc-editor.org/rfc/rfc9110.html#name-400-bad-request) is probably not the right choice, _because_ the request is well

[2022-08-16 14:20] brownoxford opened #350 "Update encoding for auth token requests"
Right now, we are making auth token requests in Postman using JSON encoding.

RFC 6749 defines [Client Credentials Grant Access Token Request](https://www.ietf.org/rfc/rfc6749.html#section-4.4.2) as requiring `application/x-www-form-urlencoded` encoding.

Existing postman tests and documentation should be modified to use `application/x-www-form-urlencoded` request bodies when making client credent

[2022-08-16 14:58] brownoxford commented on #350
Note - nothing is currently "broken", as all OAuth2 provider implementations in use are accepting JSON-encoded token request bodies and responding as we expect. We should not, however, assume that all providers will do this.

[2022-08-16 16:26] brownoxford opened #351 "Should options.created in `/credentials/issue` requests be tested as a date?"
Currently, [`IssueCredentialOptions.yml`](https://github.com/mesur-io/traceability-interop/blob/main/docs/openapi/schemas/IssueCredentialOptions.yml) defines `created` as a string representing "Date the proof was created".

Should we be adding negative testing that fails if this is not a valid date/time string (we do this already for `credential.issuance_date` for `/credentials/issue`)? If so, we

[2022-08-16 16:31] brownoxford opened #352 "Add positive testing for proof created date for `/credentials/issue` request"
The `options.created` portion of a `/credentials/issue` request is an optional value indicating "Date the proof was created.". We should add positive conformance testing for the following:

- response `proof.created` should match request value if provided
- response `proof.created` should be close to "now" if request value is omitted

[2022-08-16 17:45] #289 closed

[2022-08-16 17:50] #272 closed

[2022-08-17 22:16] acarnagey commented on #350
Yeah I agree, in order to match RFC
E.g. In https://github.com/w3c-ccg/traceability-interop/blob/main/docs/tutorials/authentication/authentication.postman_collection.json

Instead of
[code]
It should be
[code]

[2022-08-18 13:17] OR13 commented on #350
Does Auth0 or Okta have a recommendation?

[2022-08-18 14:12] brownoxford commented on #350
Both follow RFC 6749

[2022-08-18 14:23] brownoxford opened #356 "Tutorial access token requests should include scope"
Access token requests in the Postman tutorial collections should be updated to include required scopes for whichever tutorial is being run.

[2022-08-18 16:55] OR13 commented on #342
We are primarily using this approach due to the lack of support for DID Web.

If we required DID Web, and dropped support for DID Key, we would no longer need this relationship.

Would it be better to simply migrate to using DID Web?

[2022-08-18 17:11] brownoxford opened #358 "Add more definition to credential status request body"
Currently, the OpenAPI definition for the request body of `/credentials/status` is rather loose. This issue proposes that we restrict the definition a bit to make expectations clearer and testing easier.

[Current schema](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/resources/credential-status.yml):
[code]

Proposed Schema:

[code]

[2022-08-18 17:16] brownoxford commented on #342
I'm not suggesting we drop the use of did:web resolution and `alsoKnownAs[1]` to discover did keys, just that we no longer use the element `alsoKnownAs[0]` because we started requiring a `service` element in the resolved did and using `service.serviceEndpoint` instead of `alsoKnownAs[0]`.

Am I completely off base here? I may be misunderstanding something.

[2022-08-18 17:33] brownoxford opened #359 "Conformance testing for /credentials/status"
Conformance testing needs to be added for the `/credentials/status` endpoint. We currently have negative testing for authentication, but that is it. Additional tests need to be added for positive testing as well as for negative testing related to invalid request body content.

This is blocked by #358, which would add more definition to the request body content that will need testing.

[2022-08-18 17:47] brownoxford opened #360 "Should /credentials/verify require a vc in the request body?"
Currently, the `verifiableCredential` property in the request body for `/credentials/verify` requests is not required (see [credential-verifier.yml](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/resources/credential-verifier.yml))

The schema should be modified to require a value for `verifiableCredential`.

Current Schema
[code]

Proposed Schema
[code]

[2022-08-18 17:49] OR13 commented on #342
@brownoxford I understand your suggestion, I am commenting on not "perpetuating our hacky workaround".

If did web is required (it is).

Why even include did:key at all?

If no other did methods are included, no need for alsoknownas.

My point is that we don't need to support multiple did methods, if we implement support for did web, and expose reasonable key material.

[2022-08-18 18:56] brownoxford commented on #342
@OR13 I could get behind that, but can we walk through the flow for a second to make sure I understand everything?

suppose:
  - I want Transmute to issue a VC for me
  - I know the endpoint for Transmute's traceability interoperability implementation
  - I know Transmute's did:web DID
  - I have the necessary OAuth2 credentials

When I submit my request to Transmute's `/credentials/issue` endpoin

[2022-08-18 21:06] OR13 commented on #342
If you know Transmute supports did:web, and you know that the did:web supports traceability api.... you can just ask for a credential issued from that did web.

If you want to discover if a given did web supports the traceability api, you can use ANY did web resolver to see if a given did:web contains the traceability service endpoint.

If you are calling an endpoint thats secured with OAuth2 clie

[2022-08-22 16:33] brownoxford commented on #342
I am in favor of this and propose that we discuss on the next call with the goal of creating a new ready-for-pr ticket with the necessary implementation details.

[2022-08-23 15:03] brownoxford commented on #358
This blocks the implementation of conformance testing (specifically, the negative testing) in #359

[2022-08-23 15:23] brownoxford commented on #325
Is the request here simply that we add a `workflow` property to the existing [`Presentation.yml`](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/schemas/Presentation.yml) definition, or should we create a new `TraceablePresenatation.yml` that uses `allOf` to extend the existing `Presentation.yml`?

[2022-08-23 15:24] brownoxford commented on #307
I have not been able to work on this tutorial yet.

[2022-08-23 16:34] mkhraisha commented on #325
Are there any times we are testing presentations without them being traceable presentations for interop?
If not then we should remove `Presentation.yml` and migrate it to `TraceablePresentation.yml`

[2022-08-23 18:06] brownoxford commented on #39
Still blocked

[2022-08-23 18:06] #87 closed, assigned to nobody

[2022-08-23 18:07] #100 closed

[2022-08-23 18:09] mkhraisha opened #363 "Update main Readme to include Link to postman collection"

[2022-08-23 18:12] BenjaminMoe commented on #330
[code]

[2022-08-23 18:18] brownoxford commented on #330
@BenjaminMoe suggests we wait to see what vc-api does and react, +1 from @mkhraisha
@nissimsan is leaning towards keeping as is

Leaving this one in place to give folks time to think about and comment on this.

[2022-08-23 18:24] nissimsan commented on #333
This seems to be going in the opposite direction of this:
https://github.com/w3c-ccg/traceability-vocab/pull/524

[2022-08-23 18:29] nissimsan commented on #330
From a usability perspective I'm sceptical about moving revocability away from options. It will require deeper involvement from the caller's side constructing the revocation list. Better to keep this declaratively and let service providers/platform deal implement these complexities under the hood.

[2022-08-23 18:39] brownoxford opened #364 "Generate historical test result index"
Pull request #362 created the necessary GitHub workflow modifications to start storing historical reports in GitHub pages. The next step in the process is to create and schedule a script that will generate an HTML index into these historical reports so that they can be easily accessed.

The generated index should be sure to translate unix timestamps from archive folder names into human-readable da

[2022-08-23 18:42] TallTed commented on #333
I believe the reason for going array-only via https://github.com/w3c-ccg/traceability-vocab/pull/524 was that Transmute tools didn't/couldn't/wouldn't handle `oneOf`.

https://github.com/w3c-ccg/traceability-vocab/pull/524 having been settled by removing the `oneOf` and forcing `array`, I think that this issue going the other way sets up an obvious conflict between the two repos ([vocab](https://g

[2022-08-23 19:10] brownoxford commented on #333
I will leave the "ready-for-pr" label, but please continue to comment with your thoughts on this.

Please note that we recently committed PR #319 which allows error response property `details` to be either `string`, `[]string` or `object`. Whichever way we go on this, we should be eventually consistent with how we treat these kind of convenience specifications.

My $0.02 from a coding standpoint i

[2022-08-23 20:45] brownoxford opened #365 "Restore proper RFC 6749 token request for tutorial tests"
The conflict resolution on PR #361 incorrectly removed the changes from #357 in the `credentials-verify.postman_collection.json` postman collection.

[2022-08-26 17:56] TallTed opened #368 "enlist contact from Ryder"
Recent commercials for https://ryder.com/everbetter suggest that they ("300+ supply chain engineers") may have already done a lot of the work we're doing, in both traceability-interop and traceability-vocab.  I'm posting this in the former, but it could reasonably be considered to live in either, or perhaps an overarching repo/work-item.

If anyone has a contact within Ryder (I do not), trying to

[2022-08-29 19:02] vivienfan opened #369 "Missing Description in API Doc"
Need a description for `[POST] /presentation` https://w3c-ccg.github.io/traceability-interop/openapi/#post-/presentations

[2022-08-31 11:21] brownoxford opened #371 "Change and document procedure for distributing meeting agenda"
Right now, the procedure for running weekly meetings includes instructions to post a meeting agenda link into the chat so that it can be parsed into the meeting minutes output HTML. We are currently posting a link to a static, standing agenda, but as @TallTed pointed out, a better process would be to send the agenda to the mailing list before each meeting and to link to that archived email.

For e

[2022-08-31 14:38] brownoxford opened #372 "Credential subject cannot be string"
The VC Data model specification [defines credentialSubject as an object or array (of objects)](https://www.w3.org/TR/vc-data-model/#credential-subject) having optional `id` properties.

Traceability interop should continue to restrict this to a single subject with required `id`, but MUST conform to the vc data model and not allow string values.

Modify the openapi schema and any relevant test suit

[2022-09-01 15:10] brownoxford commented on #369
Relevant: https://github.com/w3c/vc-data-model/issues/887

[2022-09-02 16:58] brownoxford opened #374 "When embedding a proof, the proof property MUST be used."
The vc data model states that a proof property MUST be used when embedding a proof.

https://www.w3.org/TR/vc-data-model/#proofs-signatures

Our OpenAPI schema currently has proof as an optional item in [`VerifiableCredential.yml`](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/schemas/VerifiableCredential.yml) and [`VerifiablePresentation.yml`](https://github.com/w3c-ccg/t

[2022-09-02 17:20] brownoxford commented on #356
Adding pending close label because we merged the fix for this already.

[2022-09-02 17:21] brownoxford commented on #350
The fix for this has been merged, this can be closed.

[2022-09-06 17:36] #358 closed

[2022-09-06 17:40] #372 closed

[2022-09-06 17:46] OR13 commented on #343
Excellent idea!

[2022-09-06 17:46] nissimsan commented on #343
Looks very good - support from the team

[2022-09-06 17:47] nissimsan commented on #245
We did this.

[2022-09-06 17:47] OR13 commented on #245
suggest closing.

[2022-09-06 17:47] #245 closed

[2022-09-06 17:47] nissimsan commented on #244
We did this.

[2022-09-06 17:47] #244 closed

[2022-09-06 17:48] nissimsan commented on #243
We did this.

[2022-09-06 17:48] #243 closed

[2022-09-06 17:48] nissimsan commented on #242
We did this.

[2022-09-06 17:48] #242 closed

[2022-09-06 17:49] OR13 commented on #347
+1 to using `204`

[2022-09-06 17:49] nissimsan commented on #347
If we can avoid a response body, let's avoid it.

[2022-09-06 17:51] OR13 commented on #349
this should be a 400... the client should know better, than to ask for a credential with an incorrect issuer.

[2022-09-06 17:56] BenjaminMoe commented on #349
+1 for 422. We're making the assertion that the server has been configured correctly, and the client is making a request to an identifier they do not have control over.

[2022-09-06 17:57] OR13 commented on #349
I can live with `422`

[2022-09-06 17:58] nissimsan commented on #349
+1 on `422`

[2022-09-06 18:03] nissimsan commented on #329
+1 on this. How else would we respond in those other situations.

[2022-09-06 18:07] nissimsan commented on #351
Discussion on the call, whether `created` should rather be provided by the server at issuance.

[2022-09-06 18:07] nissimsan commented on #351
Action: Double check with VC-API. If our decision, don't include this in the request options.

[2022-09-06 18:09] nissimsan commented on #351
https://w3c-ccg.github.io/vc-api/issuer.html#tag/Credentials

[2022-09-06 18:12] brownoxford commented on #352
Related to #351

[2022-09-06 18:14] nissimsan commented on #352
Let's cover #351 first

[2022-09-06 18:19] nissimsan commented on #342
Big +1 on moving to did web

[2022-09-06 18:19] BenjaminMoe commented on #342
+1 for using `did:web`

[2022-09-06 18:19] nissimsan commented on #342
@mkhraisha, how would Mavennet feel about this?

[2022-09-06 18:41] nissimsan opened #377 "Conformance test suite should support multi-tenant and dedicated tenant setups"
On a multi-tenant platform, `{{API_BASE_URL}}/did.json` does not work because the DID document sits under a tenant path. The conformance test suite must also support this.

Possible solutions could be:
1. Deducting the tenant path from `ORGANIZATION_DID_WEB`
2. Adding a tenant path as dedicated environment variable (github secret)

[2022-09-06 18:44] #374 closed

[2022-09-06 18:45] OR13 commented on #377
This is related to the conversation we had regarding "how to discover the issuer"... TLDR... use did:web... but that means you need to implement support for did:web, using either:

1. `.well-known`... which limits you to "single tenant use cases".
2. `path based routes`... which work for both.

We currently only support 2, I think 1 should be avoided personally... since there are lots of cases whe

[2022-09-06 19:11] mkhraisha commented on #342
+1 from my end, happy to remove support for did:key and instead assume just did:web

[2022-09-06 21:40] OR13 opened #379 "pre vcapi: credentialStatus should be an object, not an array"
https://github.com/w3c-ccg/traceability-interop/blob/a00d12c20075395764ae2d587f8c9c0ccd563060/docs/openapi/resources/credential-status.yml#L24

https://github.com/w3c-ccg/vc-api/blob/main/components/IssueCredentialOptions.yml#L30

https://github.com/w3c-ccg/vc-api/issues/225#issuecomment-1238641689

[2022-09-06 21:41] OR13 commented on #379
This would be a breaking change for implementations... cc @brownoxford

[2022-09-07 07:43] nissimsan commented on #377
@brownoxford, FYI - let's continue solutioning here.

[2022-09-07 07:47] nissimsan commented on #342
Seems like we can mark this ready for PR, then.

[2022-09-07 09:56] nissimsan commented on #377
Noting that this affects not only the `did_json` test, but all the ones depending on `getIssuerId`:
https://github.com/w3c-ccg/traceability-interop/blob/main/tests/conformance_suite.postman_collection.json#L4369

[2022-09-07 10:51] nissimsan opened #381 "Drop responseSchema4xx response body `code`"
I don't see the point of including `code` in the error response bodies. I suggest we get get rid of it (on the OAS and conformance tests).

[code]

[2022-09-07 10:51] nissimsan commented on #381
Ping @brownoxford

[2022-09-07 10:57] nissimsan commented on #381
We should be testing the status code instead, not a response body property:
[code]

[2022-09-07 11:25] nissimsan commented on #381
Just submitted a PR which removes `code` from the schema. We should still keep this issue open until we have replaced it with a status code assertion (or decided not to).

[2022-09-07 11:46] nissimsan commented on #349
Implementing this should include conformance test `credentials_issue.credential.issuer:unknown`

[2022-09-07 11:56] nissimsan opened #383 "What's wrong with `credentialSubject:wrong_type`?"
@brownoxford,
I can't tell what wrong with credential issued on `credentials_issue:credential.credentialSubject:wrong_type`:

[code]

[2022-09-07 16:02] brownoxford commented on #381
At present, all of our definitions use a code that matches the http response code, so I'd agree that there is currently no added benefit to including this property. Adding a new `discussion` label so that we can keep this conversation going.

@OR13 @BenjaminMoe thoughts?

[2022-09-07 16:29] brownoxford commented on #379
For reference, recent PR #366 modified the trace interop OpenAPI definition for the request body of a `/credential/status` request in response to issue #358.

I believe that the `vc-api` component you have linked to is used in the body of a `/credentials/issue` endpoint.

@OR13 is there still an issue here?

[2022-09-07 17:57] brownoxford opened #389 "Remove `did:key` support in favor of `did:web`"
Per the discussion in #342, support for `did:key` will be removed in favor of requiring and using `did:web` exclusively. This issue will be considered done when the following items have been addressed:

- [x] Remove references to `alsoKnownAs` from OpenAPI schema (#390)
- [x] Remove references to `alsoKnownAs` from  [`discovery.md`](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/di

[2022-09-07 17:57] brownoxford commented on #342
Created #389 to track the progress of removing `did:key` in favor of `did:web`

This issue can be closed.

[2022-09-08 08:59] nissimsan commented on #383
Ah, right! Thanks @brownoxford.

[2022-09-08 16:30] brownoxford opened #393 "Fix positive test for credential subject"
The previous fix for #372 failed to update the positive test for the `/credentials/issue` endpoint that verified the output credential subject matched the input credential subject.

[2022-09-08 17:11] brownoxford opened #395 "Require type property in `options.credentialStatus`"
The [vc-api states the following](https://w3c-ccg.github.io/vc-api/#issue-credential) regarding the `options.credentialStatus` object in the request body for `/credentials/issue`:

![Screen Shot 2022-09-08 at 1 09 12 PM](https://user-images.githubusercontent.com/755209/189183590-d4a5ed94-3b33-4284-a44e-32a944227f1a.png)

In order for the `credentialStatus` object to be an object of the given form,

[2022-09-08 19:07] brownoxford opened #397 "Fix `credentialSubject` format in `/credentials/verify`"
The base VC used for requests in the "Credentials - Verify" folder of the conformance testing still uses a string for `credentialSubject` instead of the new object-with-optional-id format required after fixing issue #372.

Update the test suite to use an appropriate value for `credentialSubject`

[2022-09-08 19:10] brownoxford commented on #333
We seem to be moving away from allowing both `string` and `[]string` for items. I propose we close this issue.

[2022-09-09 12:32] BenjaminMoe commented on #381
Agreed, it's redundant.

[2022-09-09 13:10] OR13 commented on #381
I have seen the internal code system be used along side http... especially if you want to ever move the same api over a different transport, like web sockets.

It's also useful if you throw a 400, and then provide a code that provides more detail in the body.

That being said, if we don't need the code now, we can remove it for now.

[2022-09-09 14:23] brownoxford commented on #381
I propose we discuss on the next call with the goal of moving to "ready-for-pr"

[2022-09-09 14:44] brownoxford commented on #356
Closing, done.

[2022-09-09 14:44] #356 closed

[2022-09-09 14:45] brownoxford commented on #350
Closing, done.

[2022-09-09 14:45] #350 closed

[2022-09-09 14:49] #393 closed

[2022-09-09 14:51] #365 closed

[2022-09-09 14:52] #343 closed

[2022-09-09 14:53] #347 closed

[2022-09-09 15:00] #329 closed

[2022-09-09 15:01] #360 closed

[2022-09-09 15:28] brownoxford opened #398 "Add conformance tests for `/credentials/verify`"
Current conformance testing for `/credentials/verify` only includes auth testing. This needs to be expanded to cover the current OpenAPI definitions.

[2022-09-12 14:43] OR13 commented on #379
hmm now I am not sure...

I think we expect the data shape of both to be similar.

[2022-09-13 18:04] BenjaminMoe commented on #377
`https://platform.transmute.industries/credentials/issue` is a site-wide resource

`https://platform.transmute.industries/organizations/org_mt46IVhChCDYEV6o/did.json` is a unique resource for an identifier

`https://platform.transmute.industries/organizations/org_mt46IVhChCDYEV6o/presentations/available` is an end point for a specific tenant

[2022-09-13 18:06] nissimsan commented on #377
Next step on this is a PR on the respec describing this

[2022-09-14 09:21] #383 closed

[2022-09-16 17:51] Sakurann opened #401 "authentication of the presentation section is confusing"
Below language was confusing..

DIDAuth should be defined.. signing over a challenge is pretty protocol specific.. how do you get the challenge, etc.

Access Tokens are not meant to be used for authentication.. Access Tokens are opaque to the client, client does not sign Access Tokens, unlike Client's ability to generate Verifiable Presentations. Access Token is used to access a resource based on

[2022-09-18 18:23] OR13 opened #402 ".NET EPCIS Postman Example"
https://github.com/FasTnT/epcis/blob/develop/documents/EPCIS%20Examples%20-%201.2.postman_collection.json

For reference... wondering if we would expose direct or wrapped interfaces for this in the future.

[2022-09-20 17:58] brownoxford opened #404 "Use did:key in issuer for credentials/verify tests"
Credentials verification tests should use did:key as issuer in request bodies.

[2022-09-20 17:59] brownoxford commented on #404
References #404

[2022-09-20 18:15] brownoxford commented on #359
Added ready-for-pr

[2022-09-20 18:16] brownoxford commented on #307
No work as of yet, conformance testing has been taking higher priority.

[2022-09-20 18:17] brownoxford commented on #325
Discussed on call, this is in relation to the type array.

[2022-09-20 18:18] OR13 commented on #39
still blocked, suggest closing... we are following the thread in CFRG.

[2022-09-20 18:22] mkhraisha commented on #363
Should also be in respec

[2022-09-20 18:22] brownoxford commented on #363
This has not been done yet.

We should probably add this to the respec as well.

[2022-09-20 18:22] OR13 opened #405 "Support for SD-JWT"
https://datatracker.ietf.org/doc/draft-fett-oauth-selective-disclosure-jwt/

This issue to track interest from implementers on SD-JWT, in relation to verifiable credentials.

Note that the sd-jwt spec is not done, and there is no vc-sd-jwt spec describing a mapping from the VCDM2.0 Core Data Model to vc-sd-jwt, similar to https://github.com/w3c/vc-jwt

For implementers wishing to demonstrate inter

[2022-09-20 20:24] sbutterfield commented on #405
+1 to this. A VC-SD-JWT spec would offer SD-JWT foundational spec a clearer separation of concerns from VC data model nuances. Specifically as it relates to attribute value canonicalization. A VC should be able to express itself as an SD-JWT. As opposed to, an SD-JWT must support its expressions as a VC.

Cross-linking an SD-JWT issue raised relating to this:
https://github.com/oauthstuff/draft-se

[2022-09-20 20:40] brownoxford opened #406 "Differentiate credentials/verify 400 errors"
Currently, the `/credentials/verify` endpoint returns a 400 error for bad requests. This should be made more specific so that there are two types of defined bad requests (both with 400 codes).

One type should indicate that the presented verifiable credential does not conform to the schema, and the second type should indicate that the provided proof signature is invalid.

[2022-09-21 05:43] BenjaminMoe commented on #406
There is the case of no proof being provided.

[2022-09-21 13:32] brownoxford commented on #406
The `proof` property is a required element of the [verifiable credential schema](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/schemas/VerifiableCredential.yml), so I think that would fall under the first variation of 400 error (not conforming to schema).

[2022-09-21 16:26] brownoxford opened #408 "Update DidResolutionResponse `type` schema"
PR #380 made some adjustments to the schema definitions of various `type` properties to restrict their values to "array of string" where previously a bare "string" value was allowed.

Among the changes, was modification of [`TraceabilityAPIDIDWebDocument.yml`](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/schemas/TraceabilityAPIDIDWebDocument.yml).

We need to ensure that

[2022-09-22 09:19] nissimsan commented on #377
@brownoxford, please note https://github.com/w3c-ccg/traceability-interop/pull/410 which addresses part of this issue. Specifically it fixes the `GET did_JSON` test case (1st in the conformance collection).

I hope this helps clarify the issue?

We need to do the same for `credential_issuer_id` (and later also presentation endpoint). Here though, I think we should rather base is on an authenticate

[2022-09-22 13:51] #408 closed

[2022-09-22 16:16] brownoxford commented on #389
This can be closed, we did this.

[2022-09-22 16:17] brownoxford commented on #381
This should be closed, we did this with #382

[2022-09-22 16:32] brownoxford commented on #351
The [current vc-api schema](https://github.com/w3c-ccg/vc-api/blob/main/components/IssueCredentialOptions.yml) specifies that `created` is an _optional_ element which defaults to the current system time. As such, we should remove it from our schema and disallow manual specification of the proof creation time.

[2022-09-22 17:31] brownoxford commented on #397
We did this with PR #400, this can be closed

[2022-09-22 17:42] brownoxford commented on #401
@OR13 would now be a good time to start removing DIDAuth from the spec?

@Sakurann I agree with you regarding the intended use of an OAuth access token, and believe this section would be better written as "OAuth, authorized with an access token...". Would you suggest additional changes?

[2022-09-22 17:54] brownoxford commented on #381
Found a few more references to error code that need fixing.

[2022-09-22 20:10] brownoxford opened #415 "Credential allows empty `type` array"
The [vc data model](https://www.w3.org/TR/vc-data-model/#types) offers the following guidance regarding the `type` property of a credential:

additionally:

The current traceability-interop yaml specification for [`Credential.yml`](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/schemas/Credential.yml) allows an empty array for the `type` property. This should be modified so

[2022-09-22 20:12] brownoxford commented on #415
Any fix for this issue must also include appropriate negative conformance testing.

[2022-09-22 20:19] brownoxford opened #416 "Expand negative testing for `credentials/issue`"
The current `README.md` for conformance testing includes the following text:

Ongoing development of the conformance suite has shown that this is not a suitable method for negative testing, and that iteration over all disallowed types is necessary to catch errors in request handling.

The negative tests in the `credentials/issue` portion of the conformance suite should be expanded to iterate throu

[2022-09-22 20:49] brownoxford opened #417 "Require `type` property for embedded JSON-LD+LD proofs"
The [vc data model](https://www.w3.org/TR/vc-data-model/#proofs-signatures) states the following regarding embedded digital proofs:

Right now, the traceability-interop openapi spec for [LinkedDataProof.yml](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/schemas/LinkedDataProof.yml) specifies `type` as an optional element.

Current implementation:
[code]

Proposed implement

[2022-09-22 21:10] brownoxford opened #418 "OpenAPI specification should validate"
Current version of the open api specification contains some errors exposed by running:

[code]

These should be fixed

[2022-09-22 21:22] brownoxford opened #420 "OpenAPI linter should run as CI process"
OpenAPI linting should be part of the CI process run on PRs

[2022-09-27 14:53] brownoxford commented on #352
Since we are removing `created` from the credential issue options, we only need to add testing to ensure that the response contains a `proof.created` date that is close to "now".

[2022-09-27 17:35] OR13 commented on #401
IMO, we should not remove `DIDAuth` from the spec, because we don't yet have a standard alternative to it.

I am in favor of refining the language around `OAuth secured` presentations in a M2M context.

[2022-09-27 17:43] OR13 commented on #405
We're keeping an eye on the draft, as it evolves... If it ships as part of v2, I think we can consider covering it with tests.

[2022-09-27 18:04] nissimsan opened #426 "Switch conformance test from `getIssuerId` to `did:web`"

[2022-09-27 18:17] #398 closed

[2022-09-27 18:21] OR13 opened #427 "Deprecate did:key in favor of did:jwk"
Today we use `did:key` because its easy to test with.

In the future, we might use `did:jwk` instead.

several reasons why `did:jwk` would be better than `did:key`.

https://lists.w3.org/Archives/Public/public-credentials/2022Sep/0029.html

https://github.com/decentralized-identity/universal-resolver/pull/318

[https://dev.uniresolver.io/1.0/identifiers/did:jwk:eyJraWQiOiJ1cm4...](https://dev.unir

[2022-09-27 18:33] brownoxford commented on #351
@OR13 pointed out that this would prevent VC (and VP) generation from being deterministic, and at the very least, would possibly cause issues for developers and/or testers expecting this functionality to be available.

After discussing on the call, consensus was that we should allow options.created in a request body for the `/credentials/issue` endpoint, and that we should implement testing for al

[2022-09-27 18:37] brownoxford opened #428 "Add negative testing for `/credentials/issue` `proof.created`"
Property should be a valid xml date, same as `issuanceDate`.

(Issue migrated from #351)

[2022-09-27 18:38] brownoxford commented on #351
Original topic of this issue moved to #428

[2022-09-27 18:38] #351 closed

[2022-10-04 14:07] brownoxford opened #431 "Add `/credentials/verify` failed verification testing"
Additional tests should be added to the `/credentials/verify` conformance suite to ensure that the response received is correct when a credential is well-formed but otherwise invalid, e.g., because of a bad signature.

[2022-10-04 14:08] brownoxford commented on #406
This should be closed in favor of #431

[2022-10-04 17:39] #395 closed

[2022-10-04 17:47] #417 closed

[2022-10-04 17:50] #369 closed

[2022-10-04 17:51] #352 closed

[2022-10-04 17:55] #426 closed

[2022-10-04 17:56] #420 closed

[2022-10-04 18:03] brownoxford commented on #330
It does not appear that this has been removed in vc-api, suggest we close for now and revisit if things change in vc-api.

[2022-10-04 18:03] #330 closed

[2022-10-04 18:04] nissimsan commented on #364
Discussed on the call today. Still ready for PR.

[2022-10-04 18:06] nissimsan commented on #368
Does anyone have contacts at Ryder?

[2022-10-04 18:09] nissimsan commented on #349
Still pending PR

[2022-10-04 18:09] nissimsan commented on #342
We did this

[2022-10-04 18:09] #342 closed

[2022-10-04 18:10] nissimsan commented on #333
Agreed on the call, let's not do this.

[2022-10-04 18:10] #333 closed

[2022-10-04 18:14] brownoxford commented on #379
We are in alignment with vc-api here (array of objects) when [updating a credential](https://w3c-ccg.github.io/vc-api/#update-status)

[2022-10-04 18:14] #379 closed

[2022-10-04 18:15] nissimsan commented on #359
Still pending PR.

[2022-10-04 18:17] nissimsan commented on #325
We did this

[2022-10-04 18:17] #325 closed

[2022-10-04 18:17] #39 closed

[2022-10-04 18:19] OR13 commented on #363
Add some "spec text" and "friendlyness" to the respec document.

[2022-10-04 18:20] nissimsan commented on #377
We've addressed a lot of this.

[2022-10-04 18:20] #377 closed

[2022-10-04 18:21] nissimsan commented on #389
We did this.

[2022-10-04 18:21] #389 closed

[2022-10-04 18:21] nissimsan commented on #397
We did this.

[2022-10-04 18:21] #397 closed

[2022-10-04 18:26] nissimsan commented on #401
A PR updating the language about the both types of presentations needed here, pls.

[2022-10-04 18:26] OR13 commented on #401
Make it clear when "holder" / "subject" binding happens (with DIDAuth + VP Request Spec) and when it doesn't ( OAuth Presentations).

[2022-10-04 18:27] nissimsan commented on #406
Closing this.

[2022-10-04 18:27] #406 closed

[2022-10-04 18:40] #415 closed

[2022-10-04 18:59] Sakurann commented on #401
what is a 'VP Request Spec' and 'OAuth Presentations'? presentation protocol and holder binding are orthogonal since holder binding happens at the credential level.

[2022-10-04 18:59] Sakurann commented on #401
SIOPv2 is DIDAuth

[2022-10-04 20:08] msporny commented on #401
DID Authentication is covered here, FWIW: https://w3c-ccg.github.io/vp-request-spec/#did-authentication

[2022-10-10 20:59] mkhraisha commented on #428
Should probably also update the base test to use `$randomDateTime` rather than "an arbitrary string".
I think we don't define the format created needs to be in the spec, should probably define it too.

[2022-10-11 17:56] OR13 opened #438 "Open Wallet Foundation"
How is our work related to "Cloud Wallets"?

Is there an opportunity to collaborate with OWF?

[2022-10-11 18:30] brownoxford opened #439 "Document manual scribing procedures"
On the 2022-10-11 call we voted to scribe manually instead of relying on the AI scribe. The procedures for running meetings need to be updated to include documentation on manual scribing.

[2022-10-14 14:15] #349 closed

[2022-10-14 14:25] #428 closed

[2022-10-14 16:48] brownoxford opened #445 "First request in collection should clear caches"
We have observed some issues during testing where failure to clear the `didWebCache` and `tokenCache` global variables resulted in inconsistent behavior of the test suite.

There should be a request at the beginning of the suite that clears these out so that full runs always start with a clean cache. This request can also be used manually during local testing to clear cache whenever needed more ea

[2022-10-14 18:30] brownoxford commented on #445
Closing, fixed with #446

[2022-10-14 18:30] #445 closed

[2022-10-18 11:17] nissimsan opened #447 "Credential string conformance<>interop conflict"
The `credentials_verify:vc:string` conformance test conflicts with [VC JWT interop test](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/tutorials/vc-jwt/vc-jwt.collection.json), which takes a string credential subject.

[2022-10-18 11:24] nissimsan opened #448 "missing issuance options type conformance<>interop conflict"
`credentials_issue:options.type:missing` expects an error on this, but there are currently passing interop tests which would start failing if we enforce this.

[2022-10-18 11:24] nissimsan commented on #448
@ipbyrne, which interop tests was it which would fail on this?

[2022-10-18 11:27] nissimsan opened #449 "missing issuance options conformance<>interop conflict"
`credentials_issue:options:missing` expects an error on this, but there are currently passing interop tests which would start failing if we enforce this.

[2022-10-18 13:25] brownoxford commented on #449
Right now, the OpenAPI spec [defines `options` as a required element ](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/resources/credential-issuer.yml#L16-L18)of the request body for the `/credentials/issue` endpoint.

We should call out the `/credentials/issue` interoperability tests that are running without providing the `options` property in the request body so that this

[2022-10-18 13:27] brownoxford commented on #448
Right now, the OpenAPI spec [defines `options.type` as a required element ](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/schemas/IssueCredentialOptions.yml#L4-L5) of the request body for the `/credentials/issue` endpoint.

We should call out the `/credentials/issue` interoperability tests that are running without providing the `options.type` property in the request body s

[2022-10-18 17:59] BenjaminMoe commented on #448
Proposal: Update the interop tests to conform to the conformance tests.

[2022-10-18 18:00] brownoxford commented on #447
discussed on call - we are leaving the test as is because it currently presents an invalid string for JWT and should still throw an error.

for further discussion: how should we handle this going forward?

[2022-10-18 18:01] nissimsan commented on #449
Interop test to be updated - similar to #448

[2022-10-18 18:05] nissimsan commented on #431
Placeholder issue

[2022-10-18 18:05] brownoxford commented on #431
Intention is to test that response is 200 with verified = false in the body.

[2022-10-18 18:05] nissimsan commented on #364
Discussed on the call today. Still ready for PR.

[2022-10-18 18:07] #368 closed

[2022-10-18 18:08] nissimsan commented on #371
Update documentation. Still pending PR.

[2022-10-18 18:10] nissimsan commented on #359
Partially done. Pending positive testing to close.

[2022-10-18 18:13] nissimsan commented on #363
Must include links to all collections - incl Conformance.

[2022-10-18 18:14] BenjaminMoe commented on #401
Proposal: Add clarification around OAuth and DID Auth in the respec document

[2022-10-18 18:17] BenjaminMoe commented on #439
Proposal: Update readme to reflect manual scribe procedure: https://github.com/w3c-ccg/traceability-interop#hosting-instructions

[2022-10-18 18:17] nissimsan commented on #439
https://www.w3.org/2008/04/scribe.html

[2022-10-19 11:44] nissimsan commented on #401
This section certainly needed some love. Updated [here](https://github.com/w3c-ccg/traceability-interop/pull/451), pls let me know if you think it can be further improved.
Thanks for the feedback and links.

[2022-10-20 15:36] OR13 commented on #447
don't use the header... thats just a hack I made to start the conversation. sync with the vc api folks on how they plan to support JWT... @mkhraisha @mprorock are you aware of how VC API handles these scenarios today?

[2022-11-01 17:51] BenjaminMoe commented on #405
Not possible to represent verifiable credentials in SD-JWT currently. We will keep an eye on it.

[2022-11-01 17:52] OR13 commented on #448
@nissimsan has this been resolved?

[2022-11-01 17:53] OR13 commented on #449
@nissimsan  has this been resolved?

[2022-11-01 17:56] BenjaminMoe commented on #427
1. Only support `did:web` and `did:key`?
2. Only support `did:web`?
3. Only support `did:web`, `did:key`, `did:jwk`?

[2022-11-01 17:56] OR13 commented on #427
or `did:web` and `did:jwk`.

[2022-11-01 17:57] BenjaminMoe commented on #427
Have it clear what methods are required.

[2022-11-01 17:59] OR13 commented on #427
PROPOSAL: `did:web` is required, not other methods are supported by the profile moving forward.

[2022-11-01 17:59] BenjaminMoe commented on #431
@brownoxford was out. Will will up.

[2022-11-01 17:59] BenjaminMoe commented on #364
Lower priority to conformance testing.

[2022-11-01 18:01] BenjaminMoe commented on #371
Reminder to modify the meeting agenda. Publish to mailing list.

[2022-11-01 18:03] BenjaminMoe commented on #359
Partially complete. Need to add tests for positive testing.

[2022-11-01 18:04] BenjaminMoe commented on #307
I'll make a ticket to review and work on this.

[2022-11-01 18:06] BenjaminMoe commented on #438
Reviewed on call. Need more information from @OR13 .

[2022-11-01 18:07] BenjaminMoe commented on #438
Note: We should ask @OR13 to comment on the first half of the call to make it a special agenda item.

[2022-11-01 18:08] BenjaminMoe commented on #439
Needs documentation update.

[2022-11-01 18:13] BenjaminMoe commented on #447
Check string value for valid JWT or not.

[2022-11-01 18:14] BenjaminMoe commented on #447
Follow up would be to add positive tests.

[2022-11-01 18:16] nissimsan commented on #401
@Sakurann, closing this. Please let me know if you have suggestions on how this can be further improved: https://w3c-ccg.github.io/traceability-interop/draft/#presentation-authentication

[2022-11-01 18:16] #401 closed

[2022-11-01 20:07] nissimsan commented on #448
Yes, @ipbyrne's PR closes this

[2022-11-01 20:07] #448 closed

[2022-11-01 20:07] nissimsan commented on #449
Yes, @ipbyrne's PR closes this

[2022-11-01 20:07] #449 closed

[2022-11-02 18:47] brownoxford opened #453 "Allow JWT in `credentials/verify`"
Account for the possibility that the request body for a `/credentials/verify` request will represent a JWT. Right now, `verifiableCredential` cannot be a string, but we may want to allow that and then have implementations check to see whether the string is a valid JWT. Alternatively, we could include an object property of `jwt` and put the JWT there.

See https://github.com/w3c-ccg/traceability-in

[2022-11-02 18:48] brownoxford commented on #447
Suggest we close in favor of #453

[2022-11-04 16:22] brownoxford opened #454 "Remove `options.type` from `/credentials/issue` request"
Trace interop made the `options.type` property in [`IssueCredentialOptions`](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/schemas/IssueCredentialOptions.yml) required on 2022-05-13 with [PR #228](https://github.com/w3c-ccg/traceability-interop/pull/228).

This is actually problematic because vc-api vc-api removed `options.type` property from `IssueCredentialOptions` on 20

[2022-11-04 17:08] brownoxford opened #455 "Use top-level JSON property in `/credentials/issue` response"
vc-api now [uses top-level JSON property `verifiableCredential`](https://github.com/w3c-ccg/vc-api/pull/313) in successful responses to `/credentials/issue` requests.

---

**Proposal:** Update the [201 response section of credential-issuer.yml](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/resources/credential-issuer.yml#L26-L31) to add a top-level `verifiableCredential`

[2022-11-04 17:14] brownoxford opened #456 "Use top-level JSON property in `/presentations/prove` response"
vc-api now [uses top-level JSON property `verifiablePresentation`](https://github.com/w3c-ccg/vc-api/pull/314) in successful responses to `/presentations/prove` requests.

---

**Proposal:** Update the [201 response section of presentation-prover.yml](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/resources/presentation-prover.yml#L30-L35) to add a top-level `verifiablePres

[2022-11-04 17:16] brownoxford commented on #455
Note: our spec should make this new property required, and all appropriate testing should be updated to take these changes into account.

[2022-11-04 17:16] brownoxford commented on #456
Note: our spec should make this new property required, and all appropriate testing should be updated to take these changes into account.

[2022-11-08 21:03] tsnyder-gs1us opened #457 "OAuth2 Authentication - Make scope a parameter for postman tests"
We noticed in the credentials issue postman collections (https://github.com/w3c-ccg/traceability-interop/blob/main/docs/tutorials/credentials-issue/credentials-issue.postman_collection.json) the Get Access Token Test has a hard coded value for scope (scope= resolve:dids issue:credentials).

While in the Authentication Tutorial postman test (https://github.com/w3c-ccg/traceability-interop/blob/main

[2022-11-09 10:24] nissimsan commented on #457
Hi @tsnyder-gs1us ,

We have struggled with the scope request in the past. It's an area which isn't properly standardized, so it's not surprising that this resurfaces. And we might need to account for provider nuances.

It isn't perfectly clear which of the collections is causing you the problem:

- "_Some OAuth2 providers require a specific scope value to be passed to get a token_" sounds like it

[2022-11-09 13:49] tsnyder-gs1us commented on #457
We have confirmed that our OAuth2 Provider (Azure AD) requires a specific scope value to be passed when getting a OAuth token. This is why we suggested making it an environment variable for the postman collection that would be passed to the collection via the newman command line when being executed.

Our initial focus is on passing the Credentials Issue collection, which has a Get Access Token Tes

[2022-11-09 14:24] brownoxford commented on #457
@nissimsan couple of things here that I think are worth calling out:
1. We have discussed and standardized on these specific scope names and per-endpoint requirements for trace interop.
2. Removing these scopes from token requests will cause compliant providers to fail tests.

@tsnyder-gs1us can you give more details on which specific scopes are required by Azure AD OAuth2 provider for token reque

[2022-11-09 15:06] tsnyder-gs1us commented on #457
Here is the article we got from Microsoft explaining how the scope is used. https://learn.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow#get-a-token. For example MS Graph requires scope to be https://graph.microsoft.com/.default.

In our case the required value for scope is in this format api://{apiid_from_azure/.default

[2022-11-09 15:26] tsnyder-gs1us commented on #457
@brownoxford  @nissimsan Scope is a pretty standard parameter for OpenID/OAuth2 providers. It should be treated the same way as client_id, client_secret, and audience and be a parameter to the Get Access Token test.

What OAuth Providers are others using with the traceability test suite?

[2022-11-09 16:16] brownoxford commented on #457
Including the 'scope' parameter in an access token request is optional, [according to RFC 6749](https://www.rfc-editor.org/rfc/rfc6749#section-4.4.2). If scope is omitted from the request, ["the authorization server must either apply a pre-defined value, or fail the request"](https://www.rfc-editor.org/rfc/rfc6749#section-3.3).

It appears that Microsoft takes the latter approach, and requires `sc

[2022-11-09 18:38] mkhraisha opened #458 "Conformance Tests and archive dead links"
Both bullet points on the top level Readme point to `https://w3c-ccg.github.io/traceability-interop/reports/conformance/index.json` which returns a 404.

[2022-11-09 19:33] brownoxford opened #460 "Update respec with links to postman collection"
Issue #363 was created to update the documentation related to importing postman collections, and there were several requests to add similar text to the respec document. This issue has been created to track those additional requests so that the original issue can be closed.

@mkhraisha, @OR13 can you please provide more details/direction on how this should be represented in the respec?

[2022-11-09 19:33] brownoxford commented on #363
Items related to respec changes moved to #460

[2022-11-09 20:38] #458 closed

[2022-11-10 12:00] nissimsan commented on #457
@brownoxford,

No. The subsequent endpoint calls and how they are protected behind scopes is not what we are discussing here. We are only discussing the Get Access Token call (a.k.a. `POST {{TOKEN_ENDPOINT}}`).

@tsnyder-gs1us's problem is that on the Get Access Token call on the Authentication Tutorial postman does not request a scope, and Azure insists that it does.

These are not big changes ne

[2022-11-10 14:36] tsnyder-gs1us commented on #457
@nissimsan Azure AD requires a specific scope be passed. If no scope is sent it will return an error. So long term to support Azure AD any postman collections that has a Get Access Token will need to have a variable for scope.

In the short term we are only focus on the Credentials Issue collection. If that collection accepts scope as a parameter we could move forward.

[2022-11-10 14:46] brownoxford commented on #457
@nissimsan All endpoints that require a caller to "have" a scope verify this requirement by checking that the presented bearer token includes that scope; in that sense, you are right that the Get Access Token call is the only one that matters here because a bearer token with a scope is ALWAYS generated by a get token request.

That being said, all of the other endpoints under test that require a c

[2022-11-10 14:56] brownoxford commented on #457
Note: as @tsnyder-gs1us pointed out, the vc-api test suite does allow per-endpoint specification of scopes, [see the mesur.io configuration for examples](https://github.com/w3c-ccg/vc-api-test-suite-implementations/blob/main/implementations/Mesur.io.json).

@tsnyder-gs1us to respond to your [previous comment](https://github.com/w3c-ccg/traceability-interop/issues/457#issuecomment-1309034741)

In t

[2022-11-10 17:01] nissimsan commented on #457
Alright, understood - the problem stems from Azure's `.default` scope names which are for some reason required for client_credentials, not just a naming convention. That does indeed seem difficult to support without pretty significant rework.

Just to get all options on the table:

- One is to back away from the narrow/granular scopes which we've agreed on and just have one, which we make configur

[2022-11-10 20:12] tsnyder-gs1us commented on #457
For the VC-API Test Suite we verified that the oauth2 configuration supports passing a **scopes** parameter. We have been able to successfully use this to authenticate with Azure AD and run the VC-API Test Suite locally against our VC-API Implementation.

While it may seem like overhead the more configurable settings is the best long term option.

"oauth2": {
       "scopes": [api://{apiid_from_az

[2022-11-11 09:52] nissimsan opened #464 "Workflows section should be more generic"
I'm getting feedback that the section on Workflows is overly American:

https://w3c-ccg.github.io/traceability-interop/draft/#workflows

While it's just a non-normative example, I do agree that it could be made more generic. For example, just say "Customs" instead of CBP.

[2022-11-11 14:51] TallTed commented on #464
Note that "Customs" is not universal, either.

Whatever more-generic term/label is chosen (which might yet be "Customs"), it would probably be good to include some specific examples (such as United States Customs and Border Protection, Canada Border Services Agency, Mexican National Customs Agency (ANAM), etc.)

[2022-11-15 14:57] OR13 commented on #457
@tsnyder-gs1us are you proposing a change? I want to make sure we capture the action here.

[2022-11-15 15:18] tsnyder-gs1us commented on #457
Yes, I am recommending that scope be configurable for the Get Access Token postman tests. Instead of having the scope value hard coded it should be setup as a postman environment variable and passed into the tests from the secrets collections.

For Example:
 scope: ${{secrets[format('{0}_SCOPE', matrix.actor)]}}

![image](https://user-images.githubusercontent.com/81628873/201954998-634580b7-c805-4

[2022-11-15 15:49] OR13 commented on #457
@tsnyder-gs1us would you be willing to do a PR changing this in one simple test, for review?

@ipbyrne @brownoxford what do you think about this?

[2022-11-15 15:58] brownoxford commented on #457
@OR13 I'm in favor of removing all scope-specific requirements from the specification and falling back to simply requiring OAuth2 authentication - this would leave it up to implementations to decide whether to require specific per-endpoint scopes, and would require that client_credentials grants used in conformance/interop testing include ALL scopes required to interact with all endpoints under te

[2022-11-15 16:09] OR13 commented on #457
@brownoxford your proposal will lead to each implementer defining their own scopes (no interoperability at this layer), and the configuration for each actor having to manage that (additional registration / maintenance complexity).

Isn't it simpler to just allow for an actor to add additional scopes from the env?

Won't any scopes that are not understood automatically be ignored?

[2022-11-15 17:09] brownoxford commented on #457
@OR13

Agreed. Implementers will need to clearly outline required scopes in their API documentation, and consumers would need to take care to use the necessary scopes when making auth token requests.

I can only speak to the behavior of Auth0, where requests for unknown scopes results in a 403 response as in this response to a request with scopes `resolve:dids foo:bar`
[code]
The primary issue her

[2022-11-15 17:13] brownoxford commented on #457
One thought I had was that we could add normative language stating that OAuth providers MUST grant all scopes assigned to a client ID when a token is requested, which would make the whole scope configuration opaque - the problem with that is Azure AD *requires* a scope value in the token request body.

[2022-11-15 17:31] OR13 commented on #457
@brownoxford ah yes, you are right regarding scopes in requests for a token... I was thinking about another layer.

I still think its probably best to solve for this without destroying the interoperability at the scope layer, by allowing for an env value which can be "empty" to be included in the token request... for example:

[code]

When not set, there is no change to the tests, and when set, th

[2022-11-15 17:41] brownoxford commented on #457
To clarify, `resolve:dids` will never be bound to a client in Azure AD as it is an invalid scope name.

Couple of thoughts related to broken interoperability in the case of an Azure AD implementation:

- We cannot include normative text saying that the `${AZURE_AD}` scope is required in auth token requests
- Any client not including the `${AZURE_AD}` scope will not be able to get an auth token
- A

[2022-11-15 18:30] brownoxford opened #468 "Method for referencing stored verifiable credentials"
In order to be able to implement `/credentials/status`, a client needs to know what value to use in the `credentialId` POST body, and an implementation needs to be able to look up the associated credential in its internal storage.

Any `id` provided in the request body for a `/credentials/issue` request cannot be used by an implementation for security reasons - a bad actor could block use of ids b

[2022-11-15 18:32] OR13 commented on #457
This post seems relevant: https://medium.com/@eriksonmurrugarra/azuread-oauth-2-0-client-credentials-with-custom-scope-be2bfb924885

[2022-11-15 18:36] #363 closed

[2022-11-15 18:37] OR13 commented on #454
This will destroy the ability to request a proof format, I suggest we adopt vc-jwt as the proof format at the same time we do this, because if we don't we won't be able to test that after this change.

[2022-11-15 18:37] #371 closed

[2022-11-15 18:37] #439 closed

[2022-11-15 18:38] OR13 commented on #454
My guess is that this will cause a lot of problems, and is perhaps not a good idea, despite being adopted by the vc-api.

[2022-11-15 18:39] #364 closed

[2022-11-15 18:41] #455 closed

[2022-11-15 18:42] #456 closed

[2022-11-15 18:46] #431 closed

[2022-11-15 18:55] brownoxford commented on #457
@OR13 @ipbyrne this is actually the article that I read that demonstrated how this does not work with Azure AD. In this article, note that the scope request needs to be `api://my-test-application/.default`.

[2022-11-15 19:14] #447 closed

[2022-11-15 19:52] brownoxford opened #469 "Require `verifications` array in verification response"
Action item from 2022-11-15 weekly meeting.

@OR13 suggested that simply including `verified` property in verification result is not very helpful in the case that verification failed.

@nissimsan pointed out that we do have some of this already in the form of the optional `verifications` property.

@brownoxford confirmed that the [current verification response](https://github.com/w3c-ccg/traceabil

[2022-11-15 19:56] brownoxford opened #470 "Update schema examples for VerificationResult"
Schema for [VerificationResult](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/schemas/VerificationResult.yml) includes an entry where `title` has the value `Signature`. This is not one of the valid enum values from the [Verification](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/schemas/Verification.yml) schema.

[2022-11-15 20:06] nissimsan commented on #457
Putting here in writing what I suggested on the call...

We currently have 6 secrets per provider which are passed into the tests as parameters.
And we have 8 defined scopes.

If we just add one scope as parameter, then we loose the security granularity which we've gone through so much effort to arrive at and are testing rigorously in the conformance suite.

But if we add 8 scopes as individual pa

[2022-11-15 20:09] brownoxford commented on #469
Right now, the [Verification](https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/schemas/Verification.yml) schema defines an object with `title`, `status`, and `description`. The first two are required and are enums with defined possible values, `description` is optional.

Do we want to mandate iteration over all the verifications that passed? That seems like overkill and only

[2022-11-16 14:08] tsnyder-gs1us commented on #457
We confirmed with Microsoft that Azure AD does require /.default be passed to get OAuth Token.

[2022-11-16 15:16] brownoxford commented on #468
**Alternative Proposal (`storedCredential` property)**: This proposal is put forth to cover both the revocable credential scenario outlined above as well as other future scenarios where it may make sense to store a credential for later reference.

Add a new top-level property to the responses from `/credentials/issue` that contains the ID used to store the credential. This property would only be p

[2022-11-16 16:17] mprorock commented on #468
This second approach seems like it could be handled separately and has a great degree of utility in many scenarios beyond revocation.

Proposal 1 seems like the best overall way of handling the revocation issue.